In [19]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [273]:
def loadData(fileName, fmt = 1):
    col = 'APN'
    converters = { 'APN': lambda x: x[4:] }
    if fmt == 2 or fmt == 3:
        col = 'BLKLOT'
        converters = { 'BLKLOT': lambda x: x.lstrip('0') }
    if fmt == 4:
        col = 'Block Lot'
        converters = { 'Block Lot': lambda x: x.lstrip('0') }
        
    X = pd.read_csv(fileName, sep=',', parse_dates=[], infer_datetime_format=True, index_col=[col], quotechar='"', converters=converters)
    if fmt == 2 or fmt == 3:
        X = X.rename(columns={"AFF_UNITS_NET": "NET_AFF_UNITS"})
    if fmt == 3:
        X = X.rename(columns={"UNITSNET": "NET_UNITS"})
    if fmt == 4:
        X = X.rename(columns={"Units": "UNITS", "Net Added Units": "NET_UNITS", "Best Stat": "BESTSTAT", 'Location 1': 'NAMEADDR'})
    X = X[X['BESTSTAT'] == 'CONSTRUCTION']
    
    
    return X

labels = ['2013\'Q4', '2014\'Q1', '2014\'Q2', '2014\'Q3', '2014\'Q4', '2015\'Q1', '2015\'Q2', '2015\'Q3',
         '2015\'Q4', '2016\'Q1', '2016\'Q2', '2016\'Q3', '2016\'Q4']

data = []

data.append(loadData('data/San_Francisco_Development_Pipeline_2013_Quarter_4.csv', 4))
data.append(loadData('data/San_Francisco_Development_Pipeline_2014_Quarter_1.csv', 4))
data.append(loadData('data/San_Francisco_Development_Pipeline_2014_Quarter_2.csv', 4))
data.append(loadData('data/San_Francisco_Development_Pipeline_2014_Quarter_3.csv', 4))
data.append(loadData('data/San_Francisco_Development_Pipeline_2014_Quarter_4.csv', 3))
data.append(loadData('data/San_Francisco_Development_Pipeline_2015_Quarter_1.csv', 2))
data.append(loadData('data/San_Francisco_Development_Pipeline_2015_Quarter_2.csv'))
data.append(loadData('data/San_Francisco_Development_Pipeline_2015_Quarter_3.csv'))
data.append(loadData('data/San_Francisco_Development_Pipeline_2015_Quarter_4.csv'))
data.append(loadData('data/SF_Development_Pipeline_2016_Q1.csv'))
data.append(loadData('data/SF_Development_Pipeline_2016_Q2.csv'))
data.append(loadData('data/SF_Development_Pipeline_2016_Q3.csv'))
data.append(loadData('data/SF_Development_Pipeline_2016_Q4.csv'))
data.append(loadData('data/SF_Development_Pipeline_2017_Q1.csv'))

In [274]:
preprocessed = []
for i in range(len(data)):
    X = data[i]
    X = X[X['UNITS'] >= 0]
    X = X[X['NET_UNITS'] >= 0]
    # X = X[X['NET_UNITS'] > X['UNITS']]
    preprocessed.append(X)
    
completed = []
for i in range(len(preprocessed)-1):
    X = preprocessed[i]
    for j in range(i+1,len(preprocessed)):
        X2 = preprocessed[j]
        X = X[~X.index.isin(X2.index)]
        X = X[~X['NAMEADDR'].isin(X2['NAMEADDR'])]
        
    completed.append(X)
buildings = list(map(lambda x: len(x), completed))
units = list(map(lambda x: x['NET_UNITS'].values.sum(), completed))
units2 = list(map(lambda x: x['UNITS'].values.sum(), completed))
# affUnits = list(map(lambda x: x['AFF_UNITS'].values.sum(), completed))
# netAffUnits = list(map(lambda x: x['NET_AFF_UNITS'].values.sum(), completed))
print("Buildings: {}".format(buildings))
print("Net Units: {}".format(units))
print("Total Units: {}".format(sum(units)))
# print("Net Affordable Units: {}".format(netAffUnits))
# print("Total Affordable Units: {}".format(sum(netAffUnits)))

Buildings: [19, 15, 29, 49, 23, 17, 20, 24, 81, 28, 37, 45, 54]
Net Units: [1672.0, 328.0, 732.0, 1342.0, 1020, 192, 767, 345, 1927, 616, 864, 768, 977]
Total Units: 11550.0

In [260]:
print(len(data[2]))
print(len(completed[2]))

213
29

In [261]:
cols = ['NET_UNITS', 'UNITS', 'NAMEADDR']
for i in range(len(labels)):
    print(labels[i])
    print(completed[i].sort_values('NET_UNITS', ascending=False)[cols].head(10))

2013'Q4
           NET_UNITS  UNITS                                           NAMEADDR
Block Lot
3507041        754.0  754.0  1401 Market St\n(37.776308800000002, -122.4178...
8711023        315.0  315.0  185 Channel St\n(37.774546399999998, -122.3899...
8713001        273.0  273.0   1155 04th St\n(37.773560400000001, -122.3914595)
872005         115.0  115.0  1960-1998 Market St\n(37.770026000000001, -122...
3747019         88.0   88.0  333 Fremont St\n(37.787635999999999, -122.3929...
4624004         52.0   52.0  63 West Point Rd\n(37.736734499999997, -122.38...
854001          24.0   24.0  1600 Market St\n(37.773991199999998, -122.4210...
3776092         19.0   19.0     246 Ritch St\n(37.780208000000002, -122.39578)
1742043         15.0   15.0   1266 09th Av\n(37.764675099999998, -122.4662513)
6520036          9.0    9.0     3135 24th St\n(37.752336, -122.41479699999999)
2014'Q1
           NET_UNITS  UNITS                                           NAMEADDR
Block Lot
3732008        182.0  182.0      260 05th St\n(37.780718999999998, -122.40402)
3553054         40.0   40.0  1501 15th St\n(37.766542000000001, -122.417978...
595013          38.0   38.0  1645-1661 Pacific Av\n(37.794804999999997, -12...
279011          35.0   35.0  1080 Sutter St\n(37.788226399999999, -122.4180...
3980007         20.0   20.0  1717 17th St\n(37.764748500000003, -122.400738...
1152017          3.0    3.0  1870 Golden Gate Av\n(37.778590000000001, -122...
1260035          2.0    2.0     35 Lloyd St\n(37.769646000000002, -122.435672)
3584007          1.0    2.0  530 Sanchez St\n(37.760598999999999, -122.4308...
1086006          1.0    3.0   253 Parker Av\n(37.780830000000002, -122.454155)
973031           1.0    1.0  3210 Jackson St\n(37.790781099999997, -122.447...
2014'Q2
           NET_UNITS  UNITS                                           NAMEADDR
Block Lot
8711014        150.0  150.0  1000 Fourth Street (block 13 East)\n(37.77337,...
4045002        106.0  106.0  740 Illinois St And 2121 Third St\n(37.762685,...
3704069        100.0  100.0             973 Market St\n(37.782424, -122.40935)
349001          90.0   90.0       101 Golden Gate Av\n(37.781936, -122.412374)
3543011         88.0   88.0           2175 Market St\n(37.766286, -122.429913)
4228158         71.0   81.0          1301 Indiana St\n(37.753914, -122.390975)
3725101         55.0   55.0      474 Natoma Street\n(37.7805964, -122.4072383)
1127064         19.0   19.0              1816 Eddy St\n(37.780796, -122.43726)
3965001         12.0   12.0             2401 16th St\n(37.765523, -122.410614)
6529012         11.0   11.0             3418 26th St\n(37.749099, -122.418875)
2014'Q3
           NET_UNITS  UNITS                                           NAMEADDR
Block Lot
3765015        312.0  312.0  425 First Street\n(37.786482999999997, -122.39...
3732009        282.0  282.0   900 Folsom St\n(37.780261000000003, -122.403606)
3701064        273.0  273.0       55 9th St\n(37.777096999999998, -122.415103)
3616007        114.0  114.0           2558 Mission St\n(37.75611, -122.418986)
165021          75.0   75.0   235 Broadway\n(37.798507499999999, -122.4016044)
3180001         71.0   71.0   50 Phelan Av\n(37.724704500000001, -122.4529158)
855011          49.0   49.0  8 Octavia St\n(37.772170899999999, -122.423800...
3548032         39.0   39.0  1875 Mission St\n(37.767100900000003, -122.419...
527002          27.0   27.0  2559 Van Ness Av\n(37.799210000000002, -122.42...
3752019         26.0   26.0  870 Harrison St\n(37.779727999999999, -122.401...
2014'Q4
         NET_UNITS  UNITS           NAMEADDR
BLKLOT
814020         399    399    100 VAN NESS AV
857001A        191    191    218 BUCHANAN ST
794015         136    136      746 LAGUNA ST
870003         116    116    100 BUCHANAN ST
757027          98     98       1239 TURK ST
3534069         37     37      25 DOLORES ST
3596113         18     18    899 VALENCIA ST
4172053          8      8  1179 TENNESSEE ST
7282005          2    722   515 JOHN MUIR DR
141008           2      2     850 BATTERY ST
2015'Q1
         NET_UNITS  UNITS             NAMEADDR
BLKLOT
3509043        160    160  1321 Mission Street
4991277         14    132    833-881 Jamestown
3576018          3      3     39 SAN CARLOS ST
4152046          2      2    1078 HAMPSHIRE ST
818049           2      2        443 LINDEN ST
3583082          1      2         4035 18TH ST
6090004          1      1        524 VIENNA ST
6774012          1      1           2 FLOOD AV
859013           1      2        352 WALLER ST
5258026          1      1       1415 HUDSON AV
2015'Q2
          NET_UNITS  UNITS           NAMEADDR
APN
3749059         320    320      45 LANSING ST
3507042         167    167    1420 MISSION ST
3510001         121    121    1415 MISSION ST
3703012          67     67   527 STEVENSON ST
4591C042         63     63     101 DONAHUE ST
3518006          15     15  248 - 252 09TH ST
1185026           2      3     1681 Fulton St
2620119           2      2      188 MUSEUM WY
3612055           2      3       748 TREAT AV
6022014           2      2      395 ATHENS ST
2015'Q3
          NET_UNITS  UNITS          NAMEADDR
APN
3507039         167    167   1400 MISSION ST
5431A001        121    121      5800 03RD ST
3509005          10     10       140 09TH ST
4591C068          9      9     421 HUDSON AV
4591C045          9      9     451 HUDSON AV
3651017           4      4  3820 24TH STREET
1640051           4      6     327 BALBOA ST
5327038           2      2     1665 PALOU AV
0818020           2      2     476 LINDEN ST
2778013           2      2    851 CORBETT AV
2015'Q4
          NET_UNITS  UNITS                   NAMEADDR
APN
3747320         452    452             399 FREMONT ST
3736078A        403    403               57 TEHAMA ST
8710007         263    263         718 LONG BRIDGE ST
0831023         182    182  PARCEL P - MARKET OCTAVIA
0811002         162    162                101 POLK ST
5431A042        121    121  5800 03RD ST (BUILDING 4)
3789003          74     74             72 TOWNSEND ST
4591C095         35     35               401 INNES AV
4591C099         34     34              50 JERROLD AV
4591C093         25     25             201 DONAHUE ST
2016'Q1
         NET_UNITS  UNITS                                       NAMEADDR
APN
3833002        393    393             1006 / 1050 16TH ST & 1380 07TH ST
0870003        116    116                          55 LAGUNA ST (BLDG 1)
0570011         34     34                                1650 BROADWAY *
0306020         17     81                                    555 POST ST
3753314         15     15  5 SHIPLEY ST / 935 FOLSOM ST / 77 FALMOUTH ST
3702054         11     11                                 1155 MARKET ST
2040001          6      6                                   1701 09TH AV
4085026          2      2                                 857 ALABAMA ST
1857037          2      2                                 715 KIRKHAM ST
3594009          2      4                                 2374 FOLSOM ST
2016'Q2
          NET_UNITS  UNITS               NAMEADDR
APN
0647007         260    260    1634 - 1690 PINE ST
0857001         191    191  55 LAGUNA ST (BLDG 2)
0757025          98     98    1100 GOLDEN GATE AV
3746001          80     80       LUMINA (PLAZA C)
3973002C         77     77         480 POTRERO AV
0808039          41     41           450 HAYES ST
0837003          35     35          1 FRANKLIN ST
0281003          20     20          832 SUTTER ST
3526005          12     12            520 09TH ST
3732071          12     12      468 CLEMENTINA ST
2016'Q3
         NET_UNITS  UNITS                   NAMEADDR
APN
3911001        239    239           1 HENRY ADAMS ST
8704004        129    129               360 BERRY ST
4884027         91     91    2700 ARELIOUS WALKER DR
1052024         81     81               2655 BUSH ST
3962008         70     70             346 POTRERO AV
3833001         65     65  POTRERO1010 (BLDG 1 OF 2)
0512026         21     21     2353 - 2347 LOMBARD ST
0843016         12     12                690 PAGE ST
7148040         11     11             ONE CAPITOL AV
3753042          8      8               259 CLARA ST
2016'Q4
         NET_UNITS  UNITS                           NAMEADDR
APN
3756003        408    408                        350 08TH ST
8711031        200    200                MISSION BAY BLOCK 7
0629037         76     76             2101 & 2155 WEBSTER ST
0671006         69     69                   1450 FRANKLIN ST
0857002         40     40  55 LAGUNA ST (AFF SENIOR HOUSING)
3731003         37     76                        226 06TH ST
0620006         27     27                     1601 LARKIN ST
0311016         24     81                      690 MARKET ST
3753096         22     22               233 - 237 SHIPLEY ST
3617008         15     15                   1050 VALENCIA ST

# fig = plt.figure(figsize=(11,8))
ax1 = fig.add_subplot(111)

ax1.plot(range(len(data)-1), units, label='total')
# ax1.plot(range(len(data)-1), netAffUnits, label='affordable')

In [267]:
for i in range(len(labels)):
    topUnits = completed[i].sort_values('NET_UNITS', ascending=False)[cols].head(3)['NET_UNITS'].values.sum()
    units = completed[i]['NET_UNITS'].values.sum()
    print(labels[i])
    print(topUnits/units)

2013'Q4
0.802631578947
2014'Q1
0.792682926829
2014'Q2
0.486338797814
2014'Q3
0.646050670641
2014'Q4
0.711764705882
2015'Q1
0.921875
2015'Q2
0.792698826597
2015'Q3
0.863768115942
2015'Q4
0.580176440062
2016'Q1
0.881493506494
2016'Q2
0.635416666667
2016'Q3
0.59765625
2016'Q4
0.700102354145