In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
from datetime import date

# Data Loading

SF DBI’s development pipeline datasets use four nearly-identical data models. Parcel identificator was called “BLKLOT” or “Block Lot” in older datasets and is called APN (Assessor's Parcel Number) in the most recent datasets. The same parcel id can written with a leading zero in one dataset and without a leading zero in another one. Prior to 2014 Q3, datasets don’t have fields for affordable unit counts (total affordable units and net affordable units).

Some project records don’t include building permit id or use the placeholder “MULTIPLE” instead of actual permit references. Initially, we remove permitless projects from the dataset, than re-add them at a later stage.

In [17]:
def loadData(fileName, label, fmt = 1):
    print(fileName)
    columns = ['UNITS', 'NET_UNITS', 'AFF_UNITS', 'NET_AFF_UNITS', 'NAMEADDR', 'APN', 'BESTSTAT', 'BESTDATE', 'LOCATION']
    
    converters = { 'APN': lambda x: x[4:], 'BP_APPLNO': lambda x: 'N'+x.replace(',','') }
    if fmt == 2 or fmt == 3:
        converters = { 'BLKLOT': lambda x: x.lstrip('0'), 'BP_APPLNO': lambda x: 'N'+x.replace(',','') }
    if fmt == 4:

        converters = { 'Block Lot': lambda x: x.lstrip('0'), 'DBI Permit': lambda x: 'N'+x.replace(',','')}
        
    X = pd.read_csv(fileName, sep=',', parse_dates=[], infer_datetime_format=True, quotechar='"', converters=converters)
    
    if fmt == 2 or fmt == 3:
        X = X.rename(columns={"AFF_UNITS_NET": "NET_AFF_UNITS", "BLKLOT": "APN"})
    if fmt == 3:
        X = X.rename(columns={"UNITSNET": "NET_UNITS", "Geography": "LOCATION"})
    if fmt == 4:
        X['LOCATION'] = X['Location 1']#.apply(lambda x: x.split('\n')[1])
        X['NAMEADDR'] = X['Location 1'].apply(lambda x: x.split('\n')[0])
        
        X = X.rename(columns={"Units": "UNITS", "Net Added Units": "NET_UNITS", "Best Stat": "BESTSTAT", "Best Date": "BESTDATE", 'Block Lot': 'APN',
                             'DBI Permit': 'BP_APPLNO'})
        X['NET_AFF_UNITS'] = 0
        X['AFF_UNITS'] = 0
    if fmt == 5:
        X = X.rename(columns={"PROPUSE": "PROJECT_TYPE"})
    X = X.rename(columns={"Location": "LOCATION"})
    X['LOCATION'] = X['LOCATION'].apply(lambda x: str(x).split('\n')[-1])
    #X = X[X['BESTSTAT'] == 'CONSTRUCTION']
    X = X[X['UNITS'] > 0]
    X = X[X['NET_UNITS'] >= 0]
    
    # Filtering records without permits
    M = X[(X['BP_APPLNO'] == 'N') | (X['BP_APPLNO'] == 'NMULTIPLE')][columns+['BP_APPLNO']]
    X = X[(X['BP_APPLNO'] != 'N') & (X['BP_APPLNO'] != 'NMULTIPLE')]
    
    # Filtering duplicated records
    D = X[X.duplicated('BP_APPLNO', keep=False)][columns+['BP_APPLNO']].sort_values('BP_APPLNO')
    X=X[~X.duplicated('BP_APPLNO')]
    
    # Set unique index by Permit ID
    X = X.set_index('BP_APPLNO')
    X.index.names = ['PERMIT_ID']
    X['BESTDATE'] = pd.to_datetime(X["BESTDATE"])
    X[['UNITS', 'NET_UNITS', 'NET_AFF_UNITS', 'AFF_UNITS']] = X[['UNITS', 'NET_UNITS', 'NET_AFF_UNITS', 'AFF_UNITS']].astype(int)
    
    X = X[columns]
    
    return X,M,D

# Helper Indexes

y13q4 = 0
y14q1 = 1
y14q2 = 2
y14q3 = 3
y14q4 = 4
y15q1 = 5
y15q2 = 6
y15q3 = 7
y15q4 = 8
y16q1 = 9
y16q2 = 10
y16q3 = 11
y16q4 = 12
y17q1 = 13

# Files and versions

files = [
    {'label': '2013\'Q4', 'file': 'data/San_Francisco_Development_Pipeline_2013_Quarter_4.csv', 'format': 4},
    {'label': '2014\'Q1', 'file': 'data/San_Francisco_Development_Pipeline_2014_Quarter_1.csv', 'format': 4},
    {'label': '2014\'Q2', 'file': 'data/San_Francisco_Development_Pipeline_2014_Quarter_2.csv', 'format': 4},
    {'label': '2014\'Q3', 'file': 'data/San_Francisco_Development_Pipeline_2014_Quarter_3.csv', 'format': 4},
    {'label': '2014\'Q4', 'file': 'data/San_Francisco_Development_Pipeline_2014_Quarter_4.csv', 'format': 3},
    {'label': '2015\'Q1', 'file': 'data/San_Francisco_Development_Pipeline_2015_Quarter_1.csv', 'format': 2},
    {'label': '2015\'Q2', 'file': 'data/San_Francisco_Development_Pipeline_2015_Quarter_2.csv', 'format': 1},
    {'label': '2015\'Q3', 'file': 'data/San_Francisco_Development_Pipeline_2015_Quarter_3.csv', 'format': 1},
    {'label': '2015\'Q4', 'file': 'data/San_Francisco_Development_Pipeline_2015_Quarter_4.csv', 'format': 1},
    {'label': '2016\'Q1', 'file': 'data/SF_Development_Pipeline_2016_Q1.csv', 'format': 1},
    {'label': '2016\'Q2', 'file': 'data/SF_Development_Pipeline_2016_Q2.csv', 'format': 5},
    {'label': '2016\'Q3', 'file': 'data/SF_Development_Pipeline_2016_Q3.csv', 'format': 1},
    {'label': '2016\'Q4', 'file': 'data/SF_Development_Pipeline_2016_Q4.csv', 'format': 1},
    {'label': '2017\'Q1', 'file': 'data/SF_Development_Pipeline_2017_Q1.csv', 'format': 1}
]

# Loading Data
count = len(files)
labels = []
data = []
missing = []
duplicates = []

for f in files:
    t,m,d = loadData(f['file'], f['label'], f['format'])
    data.append(t)
    missing.append(m)
    duplicates.append(d)
    labels.append(f['label'])

data/San_Francisco_Development_Pipeline_2013_Quarter_4.csv
data/San_Francisco_Development_Pipeline_2014_Quarter_1.csv
data/San_Francisco_Development_Pipeline_2014_Quarter_2.csv
data/San_Francisco_Development_Pipeline_2014_Quarter_3.csv
data/San_Francisco_Development_Pipeline_2014_Quarter_4.csv
data/San_Francisco_Development_Pipeline_2015_Quarter_1.csv
data/San_Francisco_Development_Pipeline_2015_Quarter_2.csv
data/San_Francisco_Development_Pipeline_2015_Quarter_3.csv
data/San_Francisco_Development_Pipeline_2015_Quarter_4.csv
data/SF_Development_Pipeline_2016_Q1.csv
data/SF_Development_Pipeline_2016_Q2.csv
data/SF_Development_Pipeline_2016_Q3.csv
data/SF_Development_Pipeline_2016_Q4.csv
data/SF_Development_Pipeline_2017_Q1.csv

# Displaying duplicated records
Printing out all records with duplicate building permit id for manual inspection.

In [5]:
for i in range(count):
    if (len(duplicates[i]) > 0):
        print()
        print("Duplicated records at {}".format(labels[i]))
        display(duplicates[i])

Duplicated records at 2013'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
265,7.0,7.0,0,0,"(37.740113999999998, -122.389089)",5260002,BP ISSUED,08-Aug-13,4132 Third Street,N200707055953
812,7.0,7.0,0,0,"(37.740068999999998, -122.388912)",5260003,BP ISSUED,08-Aug-13,4132 03rd St,N200707055953
188,2.0,1.0,0,0,"(37.754974400000002, -122.4076295)",4152016,CONSTRUCTION,21-Feb-12,1076 Hampshire St,N200709193092
515,2.0,2.0,0,0,"(37.754857000000001, -122.407522)",4152046,CONSTRUCTION,21-Feb-12,1078 Hampshire St,N200709193092
127,1.0,1.0,0,0,"(37.747147900000002, -122.4509959)",2821010,BP APPROVED,02-Mar-12,83 Panorama Dr,N200711077576
527,1.0,1.0,0,0,"(37.747062999999997, -122.45041500000001)",2821023,BP APPROVED,02-Mar-12,83 Panorama Dr,N200711077576
299,2.0,1.0,0,0,"(37.725757999999999, -122.42266100000001)",5943008,CONSTRUCTION,13-Sep-13,268 Madison St,N200711077587
520,1.0,1.0,0,0,"(37.725698000000001, -122.422527)",5943051,CONSTRUCTION,13-Sep-13,268 Madison St,N200711077587
307,1.0,1.0,0,0,"(37.714095, -122.404408)",6208003,BP ISSUED,25-Apr-13,138 Alpha St,N200806194898
530,1.0,1.0,0,0,"(37.714331000000001, -122.404082)",6208056,BP ISSUED,25-Apr-13,138 Alpha St,N200806194898
393,2.0,2.0,0,0,"(37.775965900000003, -122.42527699999999)",818048,BP ISSUED,04-Oct-12,447 Linden St,N200912304034
512,2.0,2.0,0,0,"(37.776243000000001, -122.42505300000001)",818049,BP ISSUED,04-Oct-12,443 Linden St,N200912304034
440,1.0,1.0,0,0,"(37.752494900000002, -122.393947)",4224027,BP ISSUED,19-Aug-11,1510 25th St,N201009140824
522,1.0,1.0,0,0,"(37.752681000000003, -122.39412400000001)",4224158,BP ISSUED,19-Aug-11,1510 25th St,N201009140824
48,98.0,98.0,0,0,"(37.780004699999999, -122.428684)",757025,BP ISSUED,26-Jun-13,1100 Golden Gate Av,N201207104447
779,98.0,98.0,0,0,"(37.780832599999997, -122.42944060000001)",757027,BP ISSUED,26-Jun-13,1239 Turk St,N201207104447

Duplicated records at 2014'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
657,7.0,7.0,0,0,"(37.740068999999998, -122.388912)",5260003,CONSTRUCTION,26-Feb-14,4132 03rd St,N200707055953
124,7.0,7.0,0,0,"(37.740113999999998, -122.389089)",5260002,CONSTRUCTION,26-Feb-14,4132 Third Street,N200707055953
60,2.0,1.0,0,0,"(37.754974400000002, -122.4076295)",4152016,CONSTRUCTION,21-Feb-12,1076 Hampshire St,N200709193092
627,2.0,2.0,0,0,"(37.754857000000001, -122.407522)",4152046,CONSTRUCTION,21-Feb-12,1078 Hampshire St,N200709193092
756,1.0,1.0,0,0,"(37.747062999999997, -122.45041500000001)",2821023,BP APPROVED,02-Mar-12,83 Panorama Dr,N200711077576
281,1.0,1.0,0,0,"(37.747147900000002, -122.4509959)",2821010,BP APPROVED,02-Mar-12,83 Panorama Dr,N200711077576
748,1.0,1.0,0,0,"(37.725698000000001, -122.422527)",5943051,CONSTRUCTION,08-Jan-14,268 Madison St,N200711077587
151,2.0,1.0,0,0,"(37.725757999999999, -122.42266100000001)",5943008,CONSTRUCTION,08-Jan-14,268 Madison St,N200711077587
758,1.0,1.0,0,0,"(37.714331000000001, -122.404082)",6208056,BP ISSUED,25-Apr-13,138 Alpha St,N200806194898
159,1.0,1.0,0,0,"(37.714095, -122.404408)",6208003,BP ISSUED,25-Apr-13,138 Alpha St,N200806194898
660,2.0,2.0,0,0,"(37.776243000000001, -122.42505300000001)",818049,BP ISSUED,04-Oct-12,443 Linden St,N200912304034
395,2.0,2.0,0,0,"(37.775965900000003, -122.42527699999999)",818048,BP ISSUED,04-Oct-12,447 Linden St,N200912304034
436,1.0,1.0,0,0,"(37.752494900000002, -122.393947)",4224027,BP ISSUED,19-Aug-11,1510 25th St,N201009140824
750,1.0,1.0,0,0,"(37.752681000000003, -122.39412400000001)",4224158,BP ISSUED,19-Aug-11,1510 25th St,N201009140824
98,65.0,65.0,0,0,"(37.766489999999997, -122.39698799999999)",3834001,BP ISSUED,07-Sep-12,1000 16th St,N201112070227
97,385.0,385.0,0,0,"(37.766489999999997, -122.39698799999999)",3833001,PL APPROVED,13-Jul-12,1000 16th St,N201112070227
737,98.0,98.0,0,0,"(37.780832599999997, -122.42944060000001)",757027,BP ISSUED,26-Jun-13,1239 Turk St,N201207104447
230,98.0,98.0,0,0,"(37.780004699999999, -122.428684)",757025,BP ISSUED,26-Jun-13,1100 Golden Gate Av,N201207104447

Duplicated records at 2014'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
735,7.0,7.0,0,0,"(37.740069, -122.388912)",5260003,CONSTRUCTION,06/30/2014 12:00:00 AM,4132 03rd St,N200707055953
207,7.0,7.0,0,0,"(37.740114, -122.389089)",5260002,CONSTRUCTION,06/30/2014 12:00:00 AM,4132 Third Street,N200707055953
741,2.0,2.0,0,0,"(37.754857, -122.407522)",4152046,CONSTRUCTION,02/21/2012 12:00:00 AM,1078 Hampshire St,N200709193092
208,2.0,1.0,0,0,"(37.7549744, -122.4076295)",4152016,CONSTRUCTION,02/21/2012 12:00:00 AM,1076 Hampshire St,N200709193092
9,1.0,1.0,0,0,"(37.7471479, -122.4509959)",2821010,BP ISSUED,04/04/2014 12:00:00 AM,83 Panorama Dr,N200711077576
754,1.0,1.0,0,0,"(37.747063, -122.450415)",2821023,BP ISSUED,04/04/2014 12:00:00 AM,83 Panorama Dr,N200711077576
746,1.0,1.0,0,0,"(37.725698, -122.422527)",5943051,CONSTRUCTION,01/08/2014 12:00:00 AM,268 Madison St,N200711077587
306,2.0,1.0,0,0,"(37.725758, -122.422661)",5943008,CONSTRUCTION,01/08/2014 12:00:00 AM,268 Madison St,N200711077587
313,1.0,1.0,0,0,"(37.714095, -122.404408)",6208003,BP ISSUED,04/25/2013 12:00:00 AM,138 Alpha St,N200806194898
756,1.0,1.0,0,0,"(37.714331, -122.404082)",6208056,BP ISSUED,04/25/2013 12:00:00 AM,138 Alpha St,N200806194898
738,2.0,2.0,0,0,"(37.776243, -122.425053)",818049,CONSTRUCTION,05/29/2014 12:00:00 AM,443 Linden St,N200912304034
380,2.0,2.0,0,0,"(37.7759659, -122.425277)",818048,CONSTRUCTION,05/29/2014 12:00:00 AM,447 Linden St,N200912304034
328,61.0,61.0,0,0,"(37.717564, -122.440393)",6969001,BP APPROVED,03/13/2014 12:00:00 AM,5050 Mission St,N201006104250
119,61.0,61.0,0,0,"(37.717747, -122.440601)",6969011,BP APPROVED,03/13/2014 12:00:00 AM,5050 Mission St,N201006104250
426,1.0,1.0,0,0,"(37.7524949, -122.393947)",4224027,BP ISSUED,08/19/2011 12:00:00 AM,1510 25th St,N201009140824
748,1.0,1.0,0,0,"(37.752681, -122.394124)",4224158,BP ISSUED,08/19/2011 12:00:00 AM,1510 25th St,N201009140824
236,385.0,385.0,0,0,"(37.76649, -122.396988)",3833001,BP ISSUED,09/07/2012 12:00:00 AM,1000 16th St,N201112070227
237,65.0,65.0,0,0,"(37.76649, -122.396988)",3834001,BP ISSUED,09/07/2012 12:00:00 AM,1000 16th St,N201112070227
721,98.0,98.0,0,0,"(37.7808326, -122.4294406)",757027,BP ISSUED,06/26/2013 12:00:00 AM,1239 Turk St,N201207104447
28,98.0,98.0,0,0,"(37.7800047, -122.428684)",757025,BP ISSUED,06/26/2013 12:00:00 AM,1100 Golden Gate Av,N201207104447
591,191.0,191.0,0,0,"(37.77235, -122.426279)",857001A,CONSTRUCTION,06/26/2014 12:00:00 AM,218 Buchanan St,N201209059006
58,133.0,133.0,0,0,"(37.7710334, -122.4252554)",857001,CONSTRUCTION,06/26/2014 12:00:00 AM,55 Laguna Street,N201209059006
505,69.0,69.0,0,0,"(37.7787964, -122.4231868)",785029,BP ISSUED,11/26/2013 12:00:00 AM,388 Fulton St,N201303273113
596,69.0,69.0,0,0,"(37.778892, -122.4224657)",785029,BP ISSUED,11/26/2013 12:00:00 AM,344 Fulton St,N201303273113

Duplicated records at 2014'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
514,7.0,7.0,0,0,"(37.740068999999998, -122.388912)",5260003,CONSTRUCTION,28-Jul-14,4132 03rd St,N200707055953
236,7.0,7.0,0,0,"(37.740113999999998, -122.389089)",5260002,CONSTRUCTION,28-Jul-14,4132 Third Street,N200707055953
171,2.0,1.0,0,0,"(37.754974400000002, -122.4076295)",4152016,CONSTRUCTION,21-Feb-12,1076 Hampshire St,N200709193092
654,2.0,2.0,0,0,"(37.754857000000001, -122.407522)",4152046,CONSTRUCTION,21-Feb-12,1078 Hampshire St,N200709193092
668,1.0,1.0,0,0,"(37.747062999999997, -122.45041500000001)",2821023,CONSTRUCTION,23-Sep-14,83 Panorama Dr,N200711077576
112,1.0,1.0,0,0,"(37.747147900000002, -122.4509959)",2821010,CONSTRUCTION,23-Sep-14,83 Panorama Dr,N200711077576
659,1.0,1.0,0,0,"(37.725698000000001, -122.422527)",5943051,CONSTRUCTION,08-Jan-14,268 Madison St,N200711077587
269,2.0,1.0,0,0,"(37.725757999999999, -122.42266100000001)",5943008,CONSTRUCTION,08-Jan-14,268 Madison St,N200711077587
270,1.0,1.0,0,0,"(37.714095, -122.404408)",6208003,BP ISSUED,25-Apr-13,138 Alpha St,N200806194898
670,1.0,1.0,0,0,"(37.714331000000001, -122.404082)",6208056,BP ISSUED,25-Apr-13,138 Alpha St,N200806194898
651,2.0,2.0,0,0,"(37.776243000000001, -122.42505300000001)",818049,CONSTRUCTION,22-Jul-14,443 Linden St,N200912304034
326,2.0,2.0,0,0,"(37.775965900000003, -122.42527699999999)",818048,CONSTRUCTION,22-Jul-14,447 Linden St,N200912304034
277,61.0,61.0,0,0,"(37.717564000000003, -122.440393)",6969001,BP APPROVED,13-Mar-14,5050 Mission St,N201006104250
366,61.0,61.0,0,0,"(37.717747000000003, -122.440601)",6969011,BP APPROVED,13-Mar-14,5050 Mission St,N201006104250
661,1.0,1.0,0,0,"(37.752681000000003, -122.39412400000001)",4224158,BP ISSUED,19-Aug-11,1510 25th St,N201009140824
332,1.0,1.0,0,0,"(37.752494900000002, -122.393947)",4224027,BP ISSUED,19-Aug-11,1510 25th St,N201009140824
197,65.0,65.0,0,0,"(37.766489999999997, -122.39698799999999)",3834001,BP ISSUED,07-Sep-12,1000 16th St,N201112070227
196,385.0,385.0,0,0,"(37.766489999999997, -122.39698799999999)",3833001,BP ISSUED,07-Sep-12,1000 16th St,N201112070227
52,98.0,98.0,0,0,"(37.780004699999999, -122.428684)",757025,BP ISSUED,26-Jun-13,1100 Golden Gate Av,N201207104447
647,98.0,98.0,0,0,"(37.780832599999997, -122.42944060000001)",757027,BP ISSUED,26-Jun-13,1239 Turk St,N201207104447
492,191.0,191.0,0,0,"(37.772350000000003, -122.42627899999999)",857001A,CONSTRUCTION,31-Jul-14,218 Buchanan St,N201209059006
61,133.0,133.0,0,0,"(37.7710334, -122.4252554)",857001,CONSTRUCTION,31-Jul-14,55 Laguna Street,N201209059006
495,69.0,69.0,0,0,"(37.778891999999999, -122.4224657)",785029,BP ISSUED,26-Nov-13,344 Fulton St,N201303273113
947,69.0,69.0,0,0,"(37.778796399999997, -122.4231868)",785029,BP ISSUED,26-Nov-13,388 Fulton St,N201303273113

Duplicated records at 2014'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
411,2,1,0,0,1076 HAMPSHIRE ST,4152016,CONSTRUCTION,02/21/2012,"(37.754974400000002, -122.4076295)",N200709193092
448,2,2,0,0,1078 HAMPSHIRE ST,4152046,CONSTRUCTION,02/21/2012,"(37.754857000000001, -122.407522)",N200709193092
400,2,2,0,0,447 LINDEN ST,818048,CONSTRUCTION,10/10/2014,"(37.775965900000003, -122.42527699999999)",N200912304034
409,2,2,0,0,443 LINDEN ST,818049,CONSTRUCTION,10/10/2014,"(37.776243000000001, -122.42505300000001)",N200912304034
69,98,98,0,0,1239 TURK ST,757027,CONSTRUCTION,03/27/2015,"(37.780832599999997, -122.42944060000001)",N201207104447
70,98,98,98,98,1100 GOLDEN GATE AV,757025,CONSTRUCTION,03/27/2015,"(37.780004699999999, -122.428684)",N201207104447
38,191,191,160,160,218 BUCHANAN ST,857001A,CONSTRUCTION,03/19/2015,"(37.772350000000003, -122.42627899999999)",N201209059006
55,133,133,160,160,55 LAGUNA STREET,857001,CONSTRUCTION,03/19/2015,"(37.7710334, -122.4252554)",N201209059006
53,139,139,0,0,555 FULTON ST,794028,CONSTRUCTION,03/31/2015,"(37.7781941, -122.42581)",N201305036062
54,136,136,0,0,746 LAGUNA ST,794015,CONSTRUCTION,05/13/2010,"(37.778094699999997, -122.42641860000001)",N201305036062
16,418,418,0,0,57 TEHAMA ST,3736078A,BP FILED,04/30/2014,"(37.787039, -122.396591)",N201404304554
19,398,398,0,0,41 TEHAMA ST,3736074,BP FILED,11/14/2013,"(37.787269000000002, -122.39631)",N201404304554

Duplicated records at 2015'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
794,2,2,0,0,1078 HAMPSHIRE ST,4152046,CONSTRUCTION,02/21/2012,"(37.75487194240, -122.40775958600)",N200709193092
863,2,1,0,0,1076 HAMPSHIRE ST,4152016,CONSTRUCTION,02/21/2012,"(37.75494040740, -122.40776607900)",N200709193092
523,2,2,0,0,443 LINDEN ST,818049,CONSTRUCTION,10/10/2014,"(37.77599145770, -122.42523007200)",N200912304034
782,2,2,0,0,447 LINDEN ST,818048,CONSTRUCTION,10/10/2014,"(37.77596050200, -122.42532017400)",N200912304034

Duplicated records at 2015'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
321,8,6,0,0,95 LELAND AV,6250028,BP REINSTATED,03/05/2010,"94134\n(37.71168292210, -122.40561714300)",N200704128664
346,8,5,0,0,95 LELAND AV,6250037,BP REINSTATED,03/05/2010,"94134\n(37.71172071370, -122.40571413900)",N200704128664
170,59,59,7,7,249 PENNSYLVANIA AV,3999002,BP Filed,05/29/2015,"94107\n(37.76297137300, -122.39317202300)",N201505297549
222,16,16,0,0,502 07TH ST,3780001,BP FILED,05/29/2015,"94103\n(37.77399389340, -122.40478807300)",N201505297549

Duplicated records at 2016'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
415,2,1,0,0,1948 & 1948A QUESADA AV,5329011,BP FILED,04/11/2016,"(37.73625912340, -122.39606265400)",N201604114413
416,1,1,0,0,1948 QUESADA AV,5329011,BP FILED,04/11/2016,"(37.73625912340, -122.39606265400)",N201604114413

# Fixing duplicates
Re-adding duplicate records with corrected values.

In [6]:
def fix_duplicate(permitId, units, netUnits, affUnits, netAffUnits, addr, apn, beststat, bestdate):
    for i in range(count):
        if len(duplicates[i][duplicates[i]['BP_APPLNO'] == permitId]) > 0:
            data[i].loc[permitId] = [units, netUnits, affUnits, netAffUnits, addr, apn, beststat, bestdate]
        duplicates[i] = duplicates[i][duplicates[i]['BP_APPLNO'] != permitId]

fix_duplicate('N200709193092', 2, 1, 0, 0, '1076-1078 Hampshire St', '4152016', "CONSTRUCTION", date(2012, 2, 21))
fix_duplicate('N200711077587', 2, 1, 0, 0, '268 Madison St', '5943008', "CONSTRUCTION", date(2014, 2, 8))
fix_duplicate('N200707055953', 7, 7, 0, 0, '4132 03rd St', '5260003', "CONSTRUCTION", date(2014, 7, 28))
fix_duplicate('N200912304034', 2, 2, 0, 0, '447 Linden St', '818048', "CONSTRUCTION", date(2014, 10, 10))
fix_duplicate('N201209059006', 191, 191, 0, 0, '218 Buchanan St', '857001', "CONSTRUCTION", date(2014, 7, 31))
fix_duplicate('N200711077576', 1, 1, 0, 0, '83 Panorama Dr', '2821010', "CONSTRUCTION", date(2014, 9, 23))
fix_duplicate('N201207104447', 98, 98, 0, 0, '1100 GOLDEN GATE AV', '757025', "CONSTRUCTION", date(2015, 3, 27))
fix_duplicate('N201305036062', 139, 139, 0, 0, '555 FULTON ST', '794028', "CONSTRUCTION", date(2015, 3, 31))

hasDuplicates = False
for i in range(count):
    if (len(duplicates[i]) > 0):
        print()
        print("Duplicated records at {}".format(labels[i]))
        display(duplicates[i])
        hasDuplicates = True
if not hasDuplicates:
    print("No duplicates present!")

ValueError: Must have equal len keys and value when setting with an iterable

# Displaying records without Permit ID
Printing all records without Permit ID

In [7]:
for i in range(count):
    if (len(missing[i]) > 0):
        print()
        print("Records without Permit ID at {}".format(labels[i]))
        display(missing[i])

Records without Permit ID at 2013'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
2,165.0,165.0,0,0,"(37.775286399999999, -122.4159598)",3507042,PL FILED,08-Apr-09,1400 Mission St,N
3,7.0,4.0,0,0,"(37.785198800000003, -122.41015710000001)",331001A,PL Filed,28-Feb-13,231 Ellis St,N
5,170.0,170.0,0,0,"(37.795891599999997, -122.4005452)",201012,PL Approved,19-Jun-12,8 Washington Street,N
7,6.0,6.0,0,0,"(37.797133100000003, -122.4139845)",150054,PL Filed,16-Jan-13,1020 Broadway,N
9,28.0,28.0,0,0,"(37.792779000000003, -122.419763)",620006,PL Approved,15-Nov-13,1601 Larkin St,N
17,3.0,2.0,0,0,"(37.801653100000003, -122.4058114)",105065,PL Filed,21-Aug-13,377 Filbert St,N
21,170.0,170.0,0,0,"(37.7842451, -122.4103786)",331010,PL Approved,26-Mar-09,168 Eddy St,N
28,45.0,45.0,0,0,"(37.789756300000001, -122.4050955)",287013,PL Approved,06-Oct-11,300 Grant Ave.,N
36,26.0,26.0,0,0,"(37.799661999999998, -122.424617)",522002A,PL Filed,28-Aug-13,2601 Van Ness Av,N
39,2.0,1.0,0,0,"(37.798259999999999, -122.430943)",531004,PL Approved,22-Oct-09,2919 Laguna St,N
41,34.0,34.0,0,0,"(37.795660099999999, -122.4241557)",570010,PL Approved,12-Mar-09,1622 Broadway,N
43,62.0,62.0,0,0,"(37.792549100000002, -122.42229159999999)",619009,PL Approved,20-Oct-11,1800 Van Ness Ave.,N
47,240.0,230.0,0,0,"(37.784562700000002, -122.4232233)",720038,PL APPROVED,13-Sep-01,1101 Ofarrell St,N
49,136.0,136.0,0,0,"(37.778094699999997, -122.42641860000001)",794015,PL Approved,13-May-10,746 Laguna St,N
52,230.0,230.0,0,0,"(37.777300400000001, -122.4170096)",813007,PL Approved,28-May-09,1390 Market St,N
78,2.0,1.0,0,0,"(37.780580299999997, -122.49460500000001)",1466009,PL Approved,16-Jul-09,451 34th Av,N
90,2.0,1.0,0,0,"(37.775024000000002, -122.486188)",1618007,PL Approved,10-Dec-09,762 27th Av,N
93,2.0,1.0,0,0,"(37.777337600000003, -122.45917559999999)",1643051,PL Approved,12-Jan-09,25 Balboa St,N
105,164.0,164.0,0,0,"(37.779755999999999, -122.412736)",3702047,PL Filed,18-Dec-13,1125 Market St,N
106,100.0,100.0,0,0,"(37.780285200000002, -122.4096244)",3703079,PL Approved,14-May-09,1036-1040 Mission St,N
110,8619.0,7800.0,0,0,"(37.823551500000001, -122.370648)",1939001,PL Approved,15-Mar-11,Treasure Island,N
123,34.0,34.0,0,0,"(37.756996600000001, -122.45971729999999)",2636025,PL Approved,07-Mar-13,Crestmont Drive,N
129,4.0,3.0,0,0,"(37.773031899999999, -122.4164291)",3511055,PL Approved,11-Jun-09,1029 Natoma St,N
137,71.0,71.0,0,0,"(37.724704500000001, -122.4529158)",3180001,PL Approved,12-Jul-10,50 Phelan Av,N
143,4.0,4.0,0,0,"(37.758873199999996, -122.42563850000001)",3598028,PL Approved,12-Dec-13,651 Dolores St,N
149,8.0,8.0,0,0,"(37.767417000000002, -122.420868)",3547032,PL Approved,26-Jan-12,49 Julian Av,N
158,5.0,4.0,0,0,"(37.762035400000002, -122.4297811)",3580035,PL Approved,24-Nov-09,265 Dorland St,N
161,22.0,29.0,0,0,"(37.760672999999997, -122.416701)",3591024,PL Filed,14-Aug-12,793 South Van Ness Av,N
164,18.0,18.0,0,0,"(37.758507299999998, -122.421269)",3596113,PL Approved,26-May-11,899 Valencia St,N
175,185.0,185.0,0,0,"(37.786009900000003, -122.40253869999999)",3706093,PL Approved,31-Jul-13,706 Mission St,N
...,...,...,...,...,...,...,...,...,...,...
724,2.0,1.0,0,0,"(37.722062999999999, -122.456912)",6942028,PL Filed,03-May-13,344 Holloway Av,N
726,1500.0,1500.0,0,0,"(37.7758988, -122.38766149999999)",9900048,PL Filed,23-Apr-13,Pier 48,N
733,20.0,20.0,0,0,"(37.790241000000002, -122.418851)",645003,PL Filed,18-Aug-13,1335 Larkin St,N
746,22.0,22.0,0,0,"(37.779029000000001, -122.40378200000001)",3753095,PL Filed,10-Jul-13,233-237 Shipley St,N
755,2.0,1.0,0,0,"(37.800769000000003, -122.44459000000001)",168005,PL Filed,22-Sep-13,3305 Broderick St,N
763,12.0,12.0,0,0,"(37.771084000000002, -122.40815499999999)",3526005,PL Filed,21-Aug-13,520 9th Street,N
765,27.0,27.0,0,0,"(37.763629000000002, -122.417382)",3575070,PL Filed,10-Sep-13,600 South Van Ness Av,N
766,1.0,1.0,0,0,"(37.786102999999997, -122.393868)",3749184,PL Filed,25-Jul-13,75 Lansing St,N
767,77.0,77.0,0,0,"(37.781609000000003, -122.398561)",3751029,PL Filed,17-Sep-13,750 Harrison St,N
768,276.0,276.0,0,0,"(37.766229000000003, -122.399781)",3954016,PL Filed,16-Sep-13,1301 - 16th Street,N
770,39.0,39.0,0,0,"(37.760328999999999, -122.389481)",4108017,PL Filed,12-Sep-13,901 Tennessee Street,N
773,7.0,5.0,0,0,"(37.709769999999999, -122.449078)",6473039,PL Approved,09-Apr-13,5739 Mission St,N
774,6.0,3.0,0,0,"(37.745544000000002, -122.419939)",6574013,PL Approved,07-Oct-13,3178 Mission St,N
782,25.0,25.0,0,0,"(37.722917000000002, -122.454882)",6944044,BP Filed,30-Aug-13,270 Brighton Av,N
783,95.0,95.0,0,0,"(37.790616, -122.417821)",250001,PL APPROVED,15-Dec-11,1401 California St,N
784,46.0,46.0,0,0,"(37.786344, -122.413955)",318020,PL FILED,25-Feb-13,651 Geary St,N
785,260.0,260.0,0,0,"(37.789546399999999, -122.42276149999999)",647007,PL FILED,17-Jul-12,1634-1690 Pine St,N
794,15.0,15.0,0,0,"(37.772629000000002, -122.415949)",3511015,PL Filed,19-Nov-13,1532 Howard St,N
823,316.0,305.0,0,0,"(37.783479, -122.40861)",342001,PL Filed,19-Nov-13,950 Market St,N
825,429.0,429.0,0,0,"(37.777091899999988, -122.4194433)",814001,PL Filed,25-Oct-13,150 Van Ness Ave,N
827,1.0,1.0,0,0,"(37.797260999999999, -122.44190399999999)",944030,PL Filed,27-Nov-13,2582 Filbert St,N
836,2.0,1.0,0,0,"(37.752144000000001, -122.442239)",2807040,PL Filed,06-Dec-13,429 Grand View Av,N
837,65.0,65.0,0,0,"(37.773389000000002, -122.411958)",3519063,PL Filed,03-Dec-13,1335 Folsom St,N
840,7.0,2.0,0,0,"(37.757257000000003, -122.413381)",3613053,PL Filed,19-Dec-13,811 Treat Av,N
842,128.0,128.0,0,0,"(37.776049, -122.40870200000001)",3730015,PL Filed,16-Oct-13,1140 Folsom Street,N
844,110.0,110.0,0,0,"(37.760472, -122.389501)",4060001,PL Approved,16-Oct-13,888 Tennessee St,N
845,340.0,340.0,0,0,"(37.760328999999999, -122.39128100000001)",4105009,PL Filed,10-Oct-13,800 Indiana Street,N
847,2.0,2.0,0,0,"(37.738298999999998, -122.39681400000001)",5319037,PL Filed,13-Dec-13,1947 Oakdale Av,N
854,2.0,1.0,0,0,"(37.739525999999998, -122.42923999999999)",6664026,PL Filed,29-Oct-13,143 Laidley St,N
855,2.0,1.0,0,0,"(37.714032000000003, -122.463283)",7091025,PL Filed,04-Oct-13,200 Bright St,N

Records without Permit ID at 2014'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
4,2.0,1.0,0,0,"(37.780580299999997, -122.49460500000001)",1466009,PL Approved,16-Jul-09,451 34th Av,N
11,8619.0,7800.0,0,0,"(37.823551500000001, -122.370648)",1939001,PL Approved,15-Mar-11,Treasure Island,N
26,8.0,8.0,0,0,"(37.767417000000002, -122.420868)",3547032,PL Approved,26-Jan-12,49 Julian Av,N
48,185.0,185.0,0,0,"(37.786009900000003, -122.40253869999999)",3706093,PL Approved,31-Jul-13,706 Mission St,N
56,39.0,39.0,0,0,"(37.778765999999997, -122.41091900000001)",3726103,PL Filed,14-Aug-12,114 07th Street,N
59,119.0,119.0,0,0,"(37.7877662, -122.3929342)",3747012,PL Filed,02-May-13,325 Fremont St,N
62,1700.0,1094.0,0,0,"(37.757050900000003, -122.39567030000001)",4167004,PL Filed,30-Jun-10,1 Turner Tr,N
66,42.0,42.0,0,0,"(37.775635000000001, -122.409447)",3730023,PL Filed,29-Jul-13,1174 Folsom St,N
76,398.0,398.0,0,0,"(37.787269000000002, -122.39631)",3736074,PL Approved,14-Nov-13,41 Tehama St,N
83,13.0,69.0,0,0,"(37.779603999999999, -122.404006)",3753140,PL Filed,19-Apr-10,935 Folsom St,N
103,41.0,41.0,0,0,"(37.764760000000003, -122.40082700000001)",3980008,PL Approved,15-Jul-10,1717 17th St,N
112,10500.0,10237.0,0,0,"(37.711469000000001, -122.381602)",4886008,PL APPROVED,03-Aug-10,Hunters Point Expy,N
114,2.0,1.0,0,0,"(37.758823999999997, -122.394064)",4103036,PL Approved,23-Jan-09,605 Mississippi St,N
142,6.0,6.0,0,0,"(37.7301, -122.41208899999999)",5918029,PL Approved,17-Feb-09,419 Bowdoin St,N
146,50.0,50.0,0,0,"(37.737005000000003, -122.409238)",5696036,PL Filed,20-Jun-13,992 Peralta Av,N
149,1.0,1.0,0,0,"(37.729965999999997, -122.41203299999999)",5918026,PL Approved,15-Jan-09,439 Bowdoin St,N
161,8.0,6.0,0,0,"(37.711792000000003, -122.405558)",6250028,PL Approved,13-Mar-09,95 Leland Av,N
183,165.0,165.0,0,0,"(37.775286399999999, -122.4159598)",3507042,PL FILED,08-Apr-09,1400 Mission St,N
184,7.0,4.0,0,0,"(37.785198800000003, -122.41015710000001)",331001A,PL Filed,28-Feb-13,231 Ellis St,N
189,170.0,170.0,0,0,"(37.795891599999997, -122.4005452)",201012,PL Approved,19-Jun-12,8 Washington Street,N
191,28.0,28.0,0,0,"(37.792779000000003, -122.419763)",620006,PL Approved,15-Nov-13,1601 Larkin St,N
198,3.0,2.0,0,0,"(37.801653100000003, -122.4058114)",105065,PL Filed,21-Aug-13,377 Filbert St,N
199,62.0,62.0,0,0,"(37.792549100000002, -122.42229159999999)",619009,PL Approved,20-Oct-11,1800 Van Ness Ave.,N
202,6.0,6.0,0,0,"(37.797133100000003, -122.4139845)",150054,PL Approved,24-Mar-14,1020 Broadway,N
210,45.0,45.0,0,0,"(37.789756300000001, -122.4050955)",287013,PL Approved,06-Oct-11,300 Grant Ave.,N
215,170.0,170.0,0,0,"(37.7842451, -122.4103786)",331010,PL Approved,26-Mar-09,168 Eddy St,N
219,26.0,26.0,0,0,"(37.799661999999998, -122.424617)",522002A,PL Filed,28-Aug-13,2601 Van Ness Av,N
224,34.0,34.0,0,0,"(37.795660099999999, -122.4241557)",570010,PL Approved,12-Mar-09,1622 Broadway,N
229,240.0,230.0,0,0,"(37.784562700000002, -122.4232233)",720038,PL APPROVED,13-Sep-01,1101 Ofarrell St,N
231,136.0,136.0,0,0,"(37.778094699999997, -122.42641860000001)",794015,PL Approved,13-May-10,746 Laguna St,N
...,...,...,...,...,...,...,...,...,...,...
770,31.0,31.0,0,0,"(37.797846, -122.40007199999999)",166003,PL Filed,18-Mar-14,240 Pacific Av,N
772,260.0,260.0,0,0,"(37.789546399999999, -122.42276149999999)",647007,PL FILED,17-Jul-12,1634-1690 Pine St,N
782,15.0,15.0,0,0,"(37.772629000000002, -122.415949)",3511015,PL Filed,19-Nov-13,1532 Howard St,N
796,316.0,305.0,0,0,"(37.783479, -122.40861)",342001,PL Filed,19-Nov-13,950 Market St,N
798,429.0,429.0,0,0,"(37.777091899999988, -122.4194433)",814001,PL Filed,25-Oct-13,150 Van Ness Ave,N
800,1.0,1.0,0,0,"(37.797260999999999, -122.44190399999999)",944030,PL Filed,27-Nov-13,2582 Filbert St,N
809,2.0,1.0,0,0,"(37.752144000000001, -122.442239)",2807040,PL Filed,06-Dec-13,429 Grand View Av,N
810,65.0,65.0,0,0,"(37.773389000000002, -122.411958)",3519063,PL Filed,03-Dec-13,1335 Folsom St,N
813,7.0,2.0,0,0,"(37.757257000000003, -122.413381)",3613053,PL Filed,19-Dec-13,811 Treat Av,N
816,128.0,128.0,0,0,"(37.776049, -122.40870200000001)",3730015,PL Filed,16-Oct-13,1140 Folsom Street,N
818,110.0,110.0,0,0,"(37.760472, -122.389501)",4060001,PL Approved,16-Oct-13,888 Tennessee St,N
819,340.0,340.0,0,0,"(37.760328999999999, -122.39128100000001)",4105009,PL Filed,10-Oct-13,800 Indiana Street,N
821,2.0,2.0,0,0,"(37.738298999999998, -122.39681400000001)",5319037,PL Filed,13-Dec-13,1947 Oakdale Av,N
828,2.0,1.0,0,0,"(37.739525999999998, -122.42923999999999)",6664026,PL Filed,29-Oct-13,143 Laidley St,N
829,2.0,1.0,0,0,"(37.714032000000003, -122.463283)",7091025,PL Filed,04-Oct-13,200 Bright St,N
831,95.0,95.0,0,0,"(37.790616, -122.417821)",250001,PL APPROVED,15-Dec-11,1401 California St,N
832,46.0,46.0,0,0,"(37.786344, -122.413955)",318020,PL FILED,25-Feb-13,651 Geary St,N
834,7.0,7.0,0,0,"(37.777175999999997, -122.43811700000001)",1180015,PL Filed,12-Feb-14,834 Divisadero St,N
843,9.0,9.0,0,0,"(37.766629000000002, -122.419782)",3554001,PL Filed,11-Feb-14,1900 Mission Street,N
850,28.0,28.0,0,0,"(37.774639000000001, -122.420957)",836011,PL Filed,02-Jan-14,22 Franklin St,N
851,42.0,42.0,0,0,"(37.772789000000003, -122.42206899999999)",855016,PL Filed,02-Jan-14,1700 Market St,N
855,9.0,9.0,0,0,"(37.762228999999998, -122.421757)",3576062,PL Filed,30-Jan-14,645 Valencia St,N
858,90.0,90.0,0,0,"(37.780644000000002, -122.411615)",3703062,PL Filed,12-Feb-14,1075 Market St,N
859,121.0,121.0,0,0,"(37.775029000000004, -122.41318200000001)",3728019,PL Filed,19-Mar-14,1298 Howard Street,N
861,9.0,3.0,0,0,"(37.762448999999997, -122.401336)",4008003,PL Filed,13-Mar-14,580 De Haro Street,N
862,7.0,6.0,0,0,"(37.762466000000003, -122.388881)",4044003,PL Filed,23-Jan-14,2146 3rd St,N
863,2.0,1.0,0,0,"(37.763449000000001, -122.43598)",2623074,PL Filed,31-Jan-14,53 States St,N
864,2.0,1.0,0,0,"(37.761629999999997, -122.440482)",2652010,PL Filed,03-Jan-14,132 Corbett Av,N
867,251.0,251.0,0,0,"(37.757528999999998, -122.394661)",4167011,PL Filed,13-Jan-14,1395 22nd St,N
873,97.0,97.0,0,0,"(37.763928999999997, -122.38788099999999)",3994001C,PL Filed,14-Jun-12,650 Illinois St,N

Records without Permit ID at 2014'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,165.0,165.0,0,0,"(37.7752864, -122.4159598)",3507042,PL FILED,04/08/2009 12:00:00 AM,1400 Mission St,N
1,7.0,4.0,0,0,"(37.7851988, -122.4101571)",331001A,PL Filed,02/28/2013 12:00:00 AM,231 Ellis St,N
6,170.0,170.0,0,0,"(37.7958916, -122.4005452)",201012,PL Approved,06/19/2012 12:00:00 AM,8 Washington Street,N
7,28.0,28.0,0,0,"(37.792779, -122.419763)",620006,PL Approved,11/15/2013 12:00:00 AM,1601 Larkin St,N
12,62.0,62.0,0,0,"(37.7925491, -122.4222916)",619009,PL Approved,10/20/2011 12:00:00 AM,1800 Van Ness Ave.,N
18,3.0,2.0,0,0,"(37.8016531, -122.4058114)",105065,PL Filed,08/21/2013 12:00:00 AM,377 Filbert St,N
21,6.0,6.0,0,0,"(37.7971331, -122.4139845)",150054,PL Approved,03/24/2014 12:00:00 AM,1020 Broadway,N
27,27.0,27.0,0,0,"(37.7885723, -122.4140825)",281003,PL Approved,02/27/2014 12:00:00 AM,832 Sutter St,N
30,45.0,45.0,0,0,"(37.7897563, -122.4050955)",287013,PL Approved,10/06/2011 12:00:00 AM,300 Grant Ave.,N
35,170.0,170.0,0,0,"(37.7842451, -122.4103786)",331010,PL Approved,03/26/2009 12:00:00 AM,168 Eddy St,N
39,186.0,186.0,0,0,"(37.781883, -122.411323)",350002,PL Filed,04/29/2014 12:00:00 AM,1028 Market St,N
40,304.0,304.0,0,0,"(37.781799, -122.411742)",350003,PL Filed,06/18/2014 12:00:00 AM,1066 Market St,N
42,26.0,26.0,0,0,"(37.799662, -122.424617)",522002A,PL Approved,05/13/2014 12:00:00 AM,2601 Van Ness Av,N
46,34.0,34.0,0,0,"(37.7956601, -122.4241557)",570010,PL Approved,03/12/2009 12:00:00 AM,1622 Broadway,N
50,136.0,136.0,0,0,"(37.7780947, -122.4264186)",794015,PL Approved,05/13/2010 12:00:00 AM,746 Laguna St,N
52,230.0,230.0,0,0,"(37.7773004, -122.4170096)",813007,PL Approved,05/28/2009 12:00:00 AM,1390 Market St,N
74,2.0,1.0,0,0,"(37.775024, -122.486188)",1618007,PL Approved,12/10/2009 12:00:00 AM,762 27th Av,N
80,2.0,1.0,0,0,"(37.7805803, -122.494605)",1466009,PL Approved,07/16/2009 12:00:00 AM,451 34th Av,N
92,2.0,1.0,0,0,"(37.7773376, -122.4591756)",1643051,PL Approved,01/12/2009 12:00:00 AM,25 Balboa St,N
97,398.0,398.0,0,0,"(37.787269, -122.39631)",3736074,PL Approved,11/14/2013 12:00:00 AM,41 Tehama St,N
103,89.0,89.0,0,0,"(37.777996, -122.404729)",3753081,PL Approved,05/01/2014 12:00:00 AM,345 06th St,N
122,24.0,2.0,0,0,"(37.778473, -122.4245087)",793026,PL Filed,03/16/2011 12:00:00 AM,471 Fulton St,N
124,9.0,1.0,0,0,"(37.771054, -122.423117)",3502111,PL Approved,09/27/2013 12:00:00 AM,25 Elgin Park St,N
135,8619.0,7800.0,0,0,"(37.8235515, -122.370648)",1939001,PL Approved,03/15/2011 12:00:00 AM,Treasure Island,N
149,34.0,34.0,0,0,"(37.7569966, -122.4597173)",2636025,PL Approved,03/07/2013 12:00:00 AM,Crestmont Drive,N
154,164.0,164.0,0,0,"(37.779756, -122.412736)",3702047,PL Filed,12/18/2013 12:00:00 AM,1125 Market St,N
155,83.0,83.0,0,0,"(37.7802852, -122.4096244)",3703079,PL Approved,06/26/2014 12:00:00 AM,1036-1040 Mission St,N
173,8.0,8.0,0,0,"(37.767417, -122.420868)",3547032,PL Approved,01/26/2012 12:00:00 AM,49 Julian Av,N
178,119.0,119.0,0,0,"(37.7877662, -122.3929342)",3747012,PL Filed,06/09/2014 12:00:00 AM,325 Fremont St,N
187,4.0,4.0,0,0,"(37.7588732, -122.4256385)",3598028,PL Approved,12/12/2013 12:00:00 AM,651 Dolores St,N
...,...,...,...,...,...,...,...,...,...,...
812,110.0,110.0,0,0,"(37.760472, -122.389501)",4060001,PL Approved,10/16/2013 12:00:00 AM,888 Tennessee St,N
813,340.0,340.0,0,0,"(37.760329, -122.391281)",4105009,PL Filed,10/10/2013 12:00:00 AM,800 Indiana Street,N
822,2.0,1.0,0,0,"(37.739526, -122.42924)",6664026,PL Filed,10/29/2013 12:00:00 AM,143 Laidley St,N
824,95.0,95.0,0,0,"(37.790616, -122.417821)",250001,PL APPROVED,12/15/2011 12:00:00 AM,1401 California St,N
825,46.0,46.0,0,0,"(37.786344, -122.413955)",318020,PL FILED,02/25/2013 12:00:00 AM,651 Geary St,N
827,7.0,7.0,0,0,"(37.777176, -122.438117)",1180015,PL Filed,02/12/2014 12:00:00 AM,834 Divisadero St,N
835,9.0,9.0,0,0,"(37.766629, -122.419782)",3554001,PL Filed,02/11/2014 12:00:00 AM,1900 Mission Street,N
842,28.0,28.0,0,0,"(37.774639, -122.420957)",836011,PL Filed,01/02/2014 12:00:00 AM,22 Franklin St,N
843,42.0,42.0,0,0,"(37.772789, -122.422069)",855016,PL Filed,01/02/2014 12:00:00 AM,1700 Market St,N
847,9.0,9.0,0,0,"(37.762229, -122.421757)",3576062,PL Filed,01/30/2014 12:00:00 AM,645 Valencia St,N
850,2.0,1.0,0,0,"(37.76163, -122.440482)",2652010,PL Approved,07/10/2014 12:00:00 AM,132 Corbett Av,N
851,90.0,90.0,0,0,"(37.780644, -122.411615)",3703062,PL Filed,02/12/2014 12:00:00 AM,1075 Market St,N
852,121.0,121.0,0,0,"(37.775029, -122.413182)",3728019,PL Filed,03/19/2014 12:00:00 AM,1298 Howard Street,N
854,9.0,3.0,0,0,"(37.762449, -122.401336)",4008003,PL Filed,03/13/2014 12:00:00 AM,580 De Haro Street,N
855,7.0,6.0,0,0,"(37.762466, -122.388881)",4044003,PL Filed,01/23/2014 12:00:00 AM,2146 3rd St,N
856,37.0,37.0,0,0,"(37.7614, -122.38882)",4059001C,PL Filed,03/06/2014 12:00:00 AM,2230 3rd Street,N
858,31.0,31.0,0,0,"(37.797846, -122.400072)",166003,PL Filed,03/18/2014 12:00:00 AM,240 Pacific Av,N
860,2.0,1.0,0,0,"(37.763449, -122.43598)",2623074,PL Filed,01/31/2014 12:00:00 AM,53 States St,N
863,251.0,251.0,0,0,"(37.757529, -122.394661)",4167011,PL Filed,01/13/2014 12:00:00 AM,1395 22nd St,N
869,51.0,50.0,0,0,"(37.781885, -122.422282)",744002,PL Filed,04/08/2014 12:00:00 AM,807 Franklin St,N
870,7.0,2.0,0,0,"(37.772093, -122.425135)",856013,PL Filed,06/25/2014 12:00:00 AM,126 Laguna St,N
873,2.0,2.0,0,0,"(37.779858, -122.441582)",1118003,PL Filed,04/15/2014 12:00:00 AM,930 Baker St,N
874,2.0,1.0,0,0,"(37.783715, -122.476225)",1417029,PL Filed,05/06/2014 12:00:00 AM,228 17th Av,N
875,3.0,3.0,0,0,"(37.74303, -122.473382)",2408001,PL Filed,06/06/2014 12:00:00 AM,701 Taraval St,N
876,2.0,2.0,0,0,"(37.758865, -122.444174)",2659052,PL Filed,06/06/2014 12:00:00 AM,3198 Market St,N
878,9.0,9.0,0,0,"(37.765729, -122.430982)",3559001,PL Filed,06/09/2014 12:00:00 AM,2201 Market Street,N
880,20.0,20.0,0,0,"(37.75593, -122.412181)",3639001,PL Filed,06/20/2014 12:00:00 AM,2600 Harrison St,N
881,4.0,1.0,0,0,"(37.751522, -122.429472)",3654040,PL Filed,05/30/2014 12:00:00 AM,3904 24th St,N
883,10.0,6.0,0,0,"(37.776311, -122.412506)",3728032,PL Filed,05/29/2014 12:00:00 AM,727 Natoma St,N
886,177.0,177.0,0,0,"(37.7609, -122.410038)",4022001,PL Filed,06/12/2014 12:00:00 AM,2070 Bryant St,N

Records without Permit ID at 2014'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
2,165.0,165.0,0,0,"(37.775286399999999, -122.4159598)",3507042,PL FILED,08-Apr-09,1400 Mission St,N
3,7.0,4.0,0,0,"(37.785198800000003, -122.41015710000001)",331001A,PL Filed,28-Feb-13,231 Ellis St,N
7,24.0,23.0,0,0,"(37.795425999999999, -122.40587499999999)",194009,PL Filed,26-Sep-14,740 Washington St,N
8,170.0,170.0,0,0,"(37.795891599999997, -122.4005452)",201012,PL Approved,19-Jun-12,8 Washington Street,N
9,28.0,28.0,0,0,"(37.792779000000003, -122.419763)",620006,PL Approved,15-Nov-13,1601 Larkin St,N
18,3.0,2.0,0,0,"(37.801653100000003, -122.4058114)",105065,PL Filed,21-Aug-13,377 Filbert St,N
21,45.0,45.0,0,0,"(37.789756300000001, -122.4050955)",287013,PL Approved,06-Oct-11,300 Grant Ave.,N
22,6.0,6.0,0,0,"(37.797133100000003, -122.4139845)",150054,PL Approved,24-Mar-14,1020 Broadway,N
28,27.0,27.0,0,0,"(37.788572299999998, -122.41408250000001)",281003,PL Approved,27-Feb-14,832 Sutter St,N
34,170.0,170.0,0,0,"(37.7842451, -122.4103786)",331010,PL Approved,26-Mar-09,168 Eddy St,N
36,186.0,186.0,0,0,"(37.781883000000001, -122.411323)",350002,PL Filed,29-Apr-14,1028 Market St,N
37,304.0,304.0,0,0,"(37.781798999999999, -122.411742)",350003,PL Filed,18-Jun-14,1066 Market St,N
39,26.0,26.0,0,0,"(37.799661999999998, -122.424617)",522002A,PL Approved,13-May-14,2601 Van Ness Av,N
44,34.0,34.0,0,0,"(37.795660099999999, -122.4241557)",570010,PL Approved,12-Mar-09,1622 Broadway,N
45,62.0,62.0,0,0,"(37.792549100000002, -122.42229159999999)",619009,PL Approved,20-Oct-11,1800 Van Ness Ave.,N
53,136.0,136.0,0,0,"(37.778094699999997, -122.42641860000001)",794015,PL Approved,13-May-10,746 Laguna St,N
55,230.0,230.0,0,0,"(37.777300400000001, -122.4170096)",813007,PL Approved,28-May-09,1390 Market St,N
77,2.0,1.0,0,0,"(37.780580299999997, -122.49460500000001)",1466009,PL Approved,16-Jul-09,451 34th Av,N
86,2.0,1.0,0,0,"(37.775024000000002, -122.486188)",1618007,PL Approved,10-Dec-09,762 27th Av,N
89,2.0,1.0,0,0,"(37.777337600000003, -122.45917559999999)",1643051,PL Approved,12-Jan-09,25 Balboa St,N
108,34.0,34.0,0,0,"(37.756996600000001, -122.45971729999999)",2636025,PL Approved,07-Mar-13,Crestmont Drive,N
115,164.0,164.0,0,0,"(37.779755999999999, -122.412736)",3702047,PL Filed,18-Dec-13,1125 Market St,N
116,83.0,83.0,0,0,"(37.780285200000002, -122.4096244)",3703079,PL Approved,26-Jun-14,1036-1040 Mission St,N
135,8.0,8.0,0,0,"(37.767417000000002, -122.420868)",3547032,PL Approved,26-Jan-12,49 Julian Av,N
139,4.0,4.0,0,0,"(37.758873199999996, -122.42563850000001)",3598028,PL Approved,12-Dec-13,651 Dolores St,N
156,185.0,185.0,0,0,"(37.786009900000003, -122.40253869999999)",3706093,PL Approved,31-Jul-13,706 Mission St,N
157,292.0,292.0,0,0,"(37.790324499999997, -122.3982439)",3708006,PL Filed,04-Jun-14,50 01st St,N
167,39.0,39.0,0,0,"(37.778765999999997, -122.41091900000001)",3726103,PL Approved,19-Jun-14,114 07th Street,N
170,119.0,119.0,0,0,"(37.7877662, -122.3929342)",3747012,PL Approved,17-Jul-14,325 Fremont St,N
173,1700.0,1094.0,0,0,"(37.757050900000003, -122.39567030000001)",4167004,PL Filed,30-Jun-10,1 Turner Tr,N
...,...,...,...,...,...,...,...,...,...,...
781,2.0,1.0,0,0,"(37.761629999999997, -122.440482)",2652010,PL Approved,10-Jul-14,132 Corbett Av,N
784,251.0,251.0,0,0,"(37.757528999999998, -122.394661)",4167011,PL Filed,13-Jan-14,1395 22nd St,N
792,97.0,97.0,0,0,"(37.763928999999997, -122.38788099999999)",3994001C,PL Approved,05-Jun-14,650 Illinois St,N
794,6.0,5.0,0,0,"(37.797286999999997, -122.41194900000001)",149010,PL Filed,17-Apr-14,908 Broadway,N
812,17.0,17.0,0,0,"(37.805883000000001, -122.411873)",41001,PL Filed,16-Jun-14,2293 Powell St,N
814,51.0,50.0,0,0,"(37.781885000000003, -122.422282)",744002,PL Filed,08-Apr-14,807 Franklin St,N
815,7.0,2.0,0,0,"(37.772092999999998, -122.425135)",856013,PL Filed,25-Jun-14,126 Laguna St,N
818,2.0,1.0,0,0,"(37.783715000000001, -122.476225)",1417029,PL Filed,06-May-14,228 17th Av,N
820,177.0,177.0,0,0,"(37.760899999999999, -122.410038)",4022001,PL Filed,12-Jun-14,2070 Bryant St,N
847,9.0,9.0,0,0,"(37.778737, -122.404132)",3753089,PL Filed,15-Aug-14,265 Shipley Street,N
867,29.0,29.0,0,0,"(37.783622999999999, -122.41538199999999)",337014A,PL Filed,28-Aug-14,469 Eddy St,N
871,9.0,9.0,0,0,"(37.775488000000003, -122.43763300000001)",1202002B,PL Filed,26-Aug-14,650 Divisadero St,N
873,1.0,1.0,0,0,"(37.749336999999997, -122.45088199999999)",2823A016,PL Filed,31-Jul-14,36 Knollview Way,N
874,1.0,1.0,0,0,"(37.730530999999999, -122.446482)",3116006,PL Filed,26-Sep-14,400 Hearst Av,N
875,17.0,2.0,0,0,"(37.769829000000001, -122.42301500000001)",3502024,PL Filed,11-Sep-14,140 Duboce Av,N
877,4.0,3.0,0,0,"(37.768805, -122.42544100000001)",3534020,PL Filed,23-Jul-14,21 Rosemont Pl,N
878,3.0,1.0,0,0,"(37.761000000000003, -122.42088699999999)",3589091,PL Filed,11-Sep-14,144 Lexington St,N
879,6.0,1.0,0,0,"(37.778098, -122.410286)",3727045,PL Filed,13-Sep-14,618 Natoma St,N
880,44.0,44.0,0,0,"(37.777562000000003, -122.408823)",3730004,PL Filed,30-Jul-14,230 07th St,N
881,26.0,26.0,0,0,"(37.781315999999997, -122.398944)",3751033,PL Approved,21-Mar-14,768 Harrison St,N
882,1.0,1.0,0,0,"(37.745258, -122.40634799999999)",5557022,PL Filed,21-Aug-14,37 Rutledge St,N
883,4.0,4.0,0,0,"(37.720030999999999, -122.411582)",5991001,PL Filed,28-Aug-14,300-308 University St.,N
886,18.0,18.0,0,0,"(37.763029000000003, -122.388881)",3995007,PL Filed,30-Sep-14,600 18th Street,N
887,17.0,17.0,0,0,"(37.762939000000003, -122.401459)",4008002,PL Filed,03-Jul-14,540 De Haro St,N
897,1.0,1.0,0,0,"(37.745258, -122.40634799999999)",5557021,PL Filed,21-Aug-14,37 Rutledge St,N
898,4.0,2.0,0,0,"(37.711708000000002, -122.455883)",7138056,PL Filed,15-Aug-14,115 Plymouth Av,N
899,8619.0,7800.0,0,0,"(37.823551500000001, -122.370648)",1939001,PL Approved,15-Mar-11,Treasure Island,N
911,398.0,398.0,0,0,"(37.787269000000002, -122.39631)",3736074,PL Approved,14-Nov-13,41 Tehama St,N
916,89.0,89.0,0,0,"(37.777996000000002, -122.404729)",3753081,PL Approved,01-May-14,345 06th St,N
927,8.0,6.0,0,0,"(37.711792000000003, -122.405558)",6250028,PL Approved,13-Mar-09,95 Leland Av,N

Records without Permit ID at 2014'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,10500,10237,3345,3089,HUNTERS POINT EXPY,4886008,PL APPROVED,08/03/2010,"(37.711469000000001, -122.381602)",N
1,8898,5677,0,-3221,PARKMERCED,7303001,PL APPROVED,05/25/2011,"(37.720500000000001, -122.47545100000001)",N
2,8619,7800,2050,1800,TREASURE ISLAND,1939001,PL APPROVED,03/15/2011,"(37.823551500000001, -122.370648)",N
3,1700,915,1700,915,1654 SUNNYDALE AVE,6310001,PL FILED,04/28/2010,"(37.712432, -122.41759399999999)",N
4,1600,994,0,0,1 TURNER TR,4167004,PL FILED,06/30/2010,"(37.757050900000003, -122.39567030000001)",N
5,1500,1500,0,0,PIER 48,9900048,PL FILED,04/23/2013,"(37.7758988, -122.38766149999999)",N
8,676,230,0,0,1390 MARKET ST,813007,PL APPROVED,05/28/2009,"(37.777300400000001, -122.4170096)",N
15,429,429,0,0,150 VAN NESS AVE,814001,PL FILED,04/23/2014,"(37.777091900000002, -122.4194433)",N
20,395,395,0,0,1200 17TH STREET,3949001,PL FILED,04/04/2012,"(37.765577999999998, -122.395421)",N
22,355,355,0,0,340 FREMONT ST,3748006,BP FILED,08/03/2012,"(37.787363999999997, -122.39304)",N
24,326,326,0,0,800 INDIANA STREET,4105009,PL FILED,10/10/2013,"(37.760328999999999, -122.39128100000001)",N
25,316,305,0,0,950 MARKET ST,342001,PL FILED,11/19/2013,"(37.783479, -122.40861)",N
27,304,304,0,0,1066 MARKET ST,350003,PL FILED,06/18/2014,"(37.781798999999999, -122.411742)",N
29,292,292,0,0,50 01ST ST,3708006,PL FILED,06/04/2014,"(37.790324499999997, -122.3982439)",N
30,276,276,0,0,1301 - 16TH STREET,3954016,PL FILED,09/16/2013,"(37.766229000000003, -122.399781)",N
31,274,274,0,0,2070 BRYANT ST,4022001,PL FILED,06/12/2014,"(37.760899999999999, -122.410038)",N
33,260,260,0,0,1634-1690 PINE ST,647007,PL FILED,07/17/2012,"(37.789546399999999, -122.42276149999999)",N
34,251,251,0,0,1395 22ND ST,4167011,PL FILED,01/13/2014,"(37.757528999999998, -122.394661)",N
40,186,186,0,0,1028 MARKET ST,350002,PL FILED,04/29/2014,"(37.781883000000001, -122.411323)",N
41,186,186,0,0,75 HOWARD ST,3741031,PL FILED,01/13/2012,"(37.791558000000002, -122.391672)",N
42,185,185,0,0,706 MISSION ST,3706093,PL APPROVED,07/31/2013,"(37.786009900000003, -122.40253869999999)",N
45,170,170,0,0,8 WASHINGTON STREET,201012,PL APPROVED,06/19/2012,"(37.795891599999997, -122.4005452)",N
46,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.779755999999999, -122.412736)",N
51,155,155,0,0,19-25 MASON ST & 2-16 TURK ST,340002,PL APPROVED,03/04/2014,"(37.783439000000001, -122.4091452)",N
56,121,121,0,0,1298 HOWARD STREET,3728019,PL FILED,03/19/2014,"(37.775029000000004, -122.41318200000001)",N
57,121,121,0,0,630 INDIANA ST,4041009,BP ISSUED,12/24/2014,"(37.762477199999999, -122.39165010000001)",N
58,120,120,0,0,888 TENNESSEE ST,4060001,PL APPROVED,10/16/2013,"(37.760472, -122.389501)",N
59,119,119,0,0,325 FREMONT ST,3747012,PL APPROVED,07/17/2014,"(37.7877662, -122.3929342)",N
61,116,116,0,0,377 06TH ST,3753148,PL APPROVED,08/29/2014,"(37.777664087200002, -122.404157099)",N
63,112,112,0,0,1140 FOLSOM STREET,3730015,PL FILED,10/16/2013,"(37.776049, -122.40870200000001)",N
...,...,...,...,...,...,...,...,...,...,...
286,4,2,0,0,1825 AND 1827 SCOTT STREET,1050006A,PL APPROVED,10/23/2013,"(37.786737000000002, -122.438722)",N
287,4,2,0,0,146 JASPER PLACE,103021,PL FILED,06/24/2013,"(37.801190699999999, -122.4085031)",N
290,4,2,0,0,115 PLYMOUTH AV,7138056,PL FILED,08/15/2014,"(37.711708000000002, -122.455883)",N
295,4,3,0,0,95 NORDHOFF ST,6763001,PL FILED,10/10/2014,"(37.734254399800001, -122.441332702)",N
319,3,2,0,0,377 FILBERT ST,105065,PL FILED,08/21/2013,"(37.801653100000003, -122.4058114)",N
331,3,2,0,0,272 CLARA ST,3753076,PL APPROVED,12/04/2013,"(37.778214800000001, -122.4040432)",N
332,3,1,0,0,144 LEXINGTON ST,3589091,PL FILED,09/11/2014,"(37.761000000000003, -122.42088699999999)",N
340,3,2,0,0,230 02ND AV,1432037,PL APPROVED,01/31/2013,"(37.784401000000003, -122.459897)",N
345,3,2,0,0,2075 BANCROFT AV,5426031,PL FILED,04/19/2012,"(37.730424900000003, -122.40184600000001)",N
391,3,3,0,0,701 TARAVAL ST,2408001,PL APPROVED,04/03/2015,"(37.743029999999997, -122.473382)",N
407,2,1,0,0,1001 CHESTNUT ST,69020,PL FILED,06/18/2013,"(37.802828499999997, -122.41996090000001)",N
427,2,2,2,2,870 INNES AV,4645017,PL FILED,09/26/2014,"(37.732278999999998, -122.375928)",N
469,2,2,0,0,200 BROAD ST,7106058,PL APPROVED,06/14/2012,"(37.713377000000001, -122.459183)",N
475,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.761629999999997, -122.440482)",N
483,2,2,0,0,280 07TH ST,3730009,PL FILED,09/11/2012,"(37.776817000000001, -122.40852700000001)",N
490,2,1,0,0,4621 19TH ST,2701A019,PL FILED,04/14/2014,"(37.758929999999999, -122.440549)",N
491,2,1,0,0,429 GRAND VIEW AV,2807040,PL APPROVED,10/16/2014,"(37.752144000000001, -122.442239)",N
511,2,1,0,0,53 STATES ST,2623074,PL FILED,01/31/2014,"(37.763449000000001, -122.43598)",N
522,2,1,0,0,2909 BUSH ST,1055021,PL APPROVED,01/20/2014,"(37.785713000000001, -122.444896)",N
528,2,1,0,0,2695 SACRAMENTO ST,634016A,PL APPROVED,11/29/2010,"(37.789245000000001, -122.437106)",N
534,2,1,0,0,344 HOLLOWAY AV,6942028,PL FILED,05/03/2013,"(37.722062999999999, -122.456912)",N
616,2,1,0,0,200 BRIGHT ST,7091025,PL APPROVED,07/31/2014,"(37.714032000000003, -122.463283)",N
654,2,1,0,0,1513-1517 CHURCH ST,6593022,PL FILED,06/28/2012,"(37.746568000000003, -122.4269532)",N
677,2,1,0,0,228 17TH AV,1417029,PL FILED,05/06/2014,"(37.783715000000001, -122.476225)",N
745,1,1,0,0,37 RUTLEDGE ST,5557021,PL FILED,08/21/2014,"(37.745258, -122.40634799999999)",N
763,1,1,0,0,75 LANSING ST,3749184,PL APPROVED,03/12/2014,"(37.786102999999997, -122.393868)",N
771,1,1,0,0,36 KNOLLVIEW WAY,2823A016,PL FILED,07/31/2014,"(37.749336999999997, -122.45088200000001)",N
782,1,1,0,0,400 HEARST AV,3116006,PL FILED,09/26/2014,"(37.730530999999999, -122.446482)",N
796,1,1,0,0,658-666 SHOTWELL ST,3611062,PL APPROVED,10/10/2013,"(37.757828000000003, -122.41600099999999)",N
817,1,1,0,0,601 BRODERICK ST,1183010,PL APPROVED,01/08/2013,"(37.775837000000003, -122.439975)",N

Records without Permit ID at 2015'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,53,53,6,6,2435-2445 16TH ST,3965021,PL FILED,03/25/2015,"(37.76532087420, -122.41111997700)",N
8,688,688,58,58,925 MISSION ST,3725093,PL FILED,05/15/2015,"(37.78215365440, -122.40660110900)",N
10,550,550,110,110,1500-1580 MISSION ST,3506002,PL FILED,12/18/2014,"(37.77431951400, -122.41802054000)",N
15,220,220,0,0,1601 MISSION ST,3514043,PL FILED,02/11/2015,"(37.77204073220, -122.41876324800)",N
16,429,429,0,0,150 VAN NESS AVE,814001,PL FILED,04/23/2014,"(37.77730065810, -122.41829544500)",N
19,340,340,0,0,800 INDIANA STREET,4105009,PL FILED,10/10/2013,"(37.75919640330, -122.39172904700)",N
20,316,305,0,0,950 MARKET ST,342001,PL FILED,11/19/2013,"(37.78317543390, -122.40956831600)",N
21,304,304,0,0,1066 MARKET ST,350003,PL FILED,06/18/2014,"(37.78179900770, -122.41174159000)",N
22,292,292,0,0,50 01ST ST,3708006,PL FILED,06/04/2014,"(37.78990468770, -122.39832080100)",N
23,276,276,0,0,1301 16TH STREET,3954016,PL FILED,09/16/2013,"(37.76584514460, -122.40023935500)",N
26,251,251,0,0,1395 22nd St,4167011,PL FILED,01/13/2014,"(37.75620342330, -122.39359366900)",N
27,207,207,0,0,1800 MISSION ST,3547001,PL FILED,06/10/2004,"(37.76781719590, -122.42057533500)",N
29,200,200,0,0,1200 17TH STREET,3949001,PL FILED,04/04/2012,"(37.76612470790, -122.39547306100)",N
30,186,186,0,0,75 HOWARD ST,3741031,PL FILED,01/13/2012,"(37.79155787850, -122.39167149900)",N
32,186,186,0,0,1028 MARKET ST,350002,PL FILED,04/29/2014,"(37.78188348190, -122.41132333400)",N
33,180,180,0,0,1540 MARKET ST,836002,PL FILED,02/27/2009,"(37.77521496080, -122.41960726000)",N
34,177,177,0,0,2070 BRYANT ST,4022001,PL FILED,06/12/2014,"(37.76149953700, -122.41058132900)",N
35,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.77975627180, -122.41273619800)",N
36,160,160,0,0,950 MASON STREET,244001,PL FILED,02/11/2009,"(37.79242535220, -122.41009254900)",N
37,146,146,25,25,88 ARKANSAS ST,3953002,PL FILED,03/25/2015,"(37.76535613160, -122.39904772400)",N
38,145,145,20,20,1515 SOUTH VAN NESS AVENUE,6571001,PL FILED,01/28/2015,"(37.74902745460, -122.41499508600)",N
39,128,128,0,0,1140 FOLSOM STREET,3730015,PL FILED,10/16/2013,"(37.77623838020, -122.40895221600)",N
40,121,121,0,0,1298 HOWARD STREET,3728019,PL FILED,03/19/2014,"(37.77562857860, -122.41277867600)",N
41,90,90,0,0,1075 MARKET ST,3703062,PL FILED,02/12/2014,"(37.78064421540, -122.41161520200)",N
42,119,119,0,0,325 FREMONT ST,3747012,PL APPROVED,07/17/2014,"(37.78777143720, -122.39294660100)",N
43,116,116,0,0,377 06TH ST,3753148,PL APPROVED,08/29/2014,"(37.77766408720, -122.40415709900)",N
44,100,100,0,0,950 GOUGH ST,74410,PL FILED,05/11/2015,"(37.78222256710, -122.42376594500)",N
46,112,112,112,112,PARCEL O,831024,PL FILED,03/25/2015,"(37.77535592710, -122.42537434500)",N
47,46,46,0,0,651 GEARY ST,318020,PL FILED,02/25/2013,"(37.78634415190, -122.41395546800)",N
48,110,110,0,0,888 TENNESSEE ST,4060001,PL APPROVED,10/16/2013,"(37.76076626460, -122.38998466700)",N
...,...,...,...,...,...,...,...,...,...,...
665,12,4,0,0,35-41 LAFAYETTE ST,3511066,PL APPROVED,10/21/2013,"(37.77319840030, -122.41717269400)",N
672,7,5,0,0,124-126 Haight Street,852044,PL APPROVED,03/26/2015,"(37.77312650560, -122.42449215200)",N
676,2,1,0,0,429 GRAND VIEW AV,2807040,PL APPROVED,10/16/2014,"(37.75192526390, -122.44228838500)",N
686,10,2,0,0,3527 18TH ST,3588001C,PL APPROVED,02/03/2012,"(37.76147673530, -122.42223868400)",N
701,6,3,0,0,3178 MISSION ST,6574013,PL APPROVED,10/07/2013,"(37.74640202970, -122.41977447700)",N
711,3,3,0,0,701 TARAVAL ST,2408001,PL APPROVED,04/03/2015,"(37.74288900570, -122.47371311800)",N
717,1,1,0,0,36 KNOLLVIEW WAY,2823A016,PL FILED,07/31/2014,"(37.74984097310, -122.45071908700)",N
720,3,2,0,0,272 CLARA ST,3753076,PL APPROVED,12/04/2013,"(37.77831226430, -122.40411197300)",N
723,1,1,0,0,658-666 SHOTWELL ST,3611062,PL APPROVED,10/10/2013,"(37.75782818450, -122.41600105500)",N
735,2,1,0,0,25 BALBOA ST,1643051,PL APPROVED,01/12/2009,"(37.77720834580, -122.45912555500)",N
754,4,2,0,0,1825 and 1827 Scott Street,1050006A,PL APPROVED,10/23/2013,"(37.78673651320, -122.43872228700)",N
758,7,2,0,0,811 TREAT AV,3613053,PL APPROVED,06/12/2015,"(37.75687211690, -122.41308330300)",N
797,2,1,0,0,2695 SACRAMENTO ST,634016A,PL APPROVED,11/29/2010,"(37.78924503200, -122.43710631400)",N
825,2,1,0,0,605 MISSISSIPPI ST,4103036,PL APPROVED,01/23/2009,"(37.75881112960, -122.39391061000)",N
838,2,1,0,0,762 27TH AV,1618007,PL APPROVED,12/10/2009,"(37.77502420080, -122.48618773500)",N
843,2,1,0,0,1036 WISCONSIN ST,4219004,PL APPROVED,10/06/2009,"(37.75419104490, -122.39895551100)",N
860,2,1,0,0,2909 BUSH ST,1055021,PL APPROVED,01/20/2014,"(37.78507902520, -122.44552266800)",N
918,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.76186080480, -122.44127466700)",N
921,1,1,0,0,75 LANSING ST,3749184,PL APPROVED,03/12/2014,"(37.78572623360, -122.39418009500)",N
941,37,37,5,5,915 - 935 MINNA ST,3510058,PL FILED,03/25/2015,"(37.77428673260, -122.41579957400)",N
943,1,1,0,0,601 BRODERICK ST,1183010,PL APPROVED,01/08/2013,"(37.77583740880, -122.43997453900)",N
952,2,1,0,0,200 BRIGHT ST,7091025,PL APPROVED,07/31/2014,"(37.71454906760, -122.46335565100)",N
968,1679,1679,252,252,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296750, -122.40222246200)",N
976,2,0,0,0,3606 - 3608 TARAVAL ST,2375019,PL FILED,02/25/2015,"(37.74201129870, -122.50490191100)",N
977,44,41,0,0,2238 - 2254 MARKET ST,3559008,PL FILED,02/26/2015,"(37.76453931070, -122.43121464200)",N
994,4,4,0,0,300-308 UNIVERSITY ST,5991001,PL FILED,08/28/2014,"(37.72634448910, -122.41426019000)",N
997,8898,5677,1822,284,3711 19th Ave,7303001,PL APPROVED,05/25/2011,"(37.72122008190, -122.48361033900)",N
1005,10500,10237,3345,3089,Hunters Point Expy,4886008,PL APPROVED,08/03/2010,"(37.71468788590, -122.38030238900)",N
1016,8619,7800,2050,1800,Treasure Island,1939001,PL APPROVED,03/15/2011,"(37.82428377200, -122.37095149600)",N
1017,4,3,0,0,95 NORDHOFF ST,6763001,PL FILED,10/10/2014,"(37.73425439980, -122.44133270200)",N

Records without Permit ID at 2015'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,688,688,58,58,925 MISSION ST,3725093,PL FILED,05/15/2015,"(37.78215365440, -122.40660110900)",N
4,550,550,110,110,1500-1580 MISSION ST,3506007,PL FILED,12/18/2014,"(37.77382218830, -122.41841702400)",N
7,340,340,0,0,800 INDIANA STREET,4105009,PL FILED,10/10/2013,"(37.75919640330, -122.39172904700)",N
11,429,429,0,0,150 VAN NESS AVE,0814001,PL FILED,04/23/2014,"(37.77730065810, -122.41829544500)",N
14,398,398,49,49,41 TEHAMA ST,3736074,PL APPROVED,11/14/2013,"(37.78697805450, -122.39662239800)",N
18,316,316,0,0,950 MARKET ST,0342001,PL FILED,11/19/2013,"(37.78317543390, -122.40956831600)",N
19,312,312,0,0,1270 MISSION ST,3701021,PL FILED,05/28/2015,"(37.77680707880, -122.41452278800)",N
20,304,304,0,0,1066 MARKET ST,0350003,PL FILED,06/18/2014,"(37.78179900770, -122.41174159000)",N
21,292,292,0,0,50 01ST ST,3708006,PL FILED,06/04/2014,"(37.78990468770, -122.39832080100)",N
22,276,276,0,0,1301 16TH STREET,3954016,PL FILED,09/16/2013,"(37.76584514460, -122.40023935500)",N
28,251,251,0,0,1395 22nd St,4167011,PL FILED,01/13/2014,"(37.75620342330, -122.39359366900)",N
29,230,230,0,0,1390 MARKET ST,0813007,PL APPROVED,05/28/2009,"(37.77722361250, -122.41736136100)",N
30,220,220,0,0,1601 MISSION ST,3514043,PL FILED,02/11/2015,"(37.77204073220, -122.41876324800)",N
32,186,186,0,0,1028 MARKET ST,0350002,PL FILED,04/29/2014,"(37.78188348190, -122.41132333400)",N
35,180,180,0,0,1540 MARKET ST,0836002,PL FILED,02/27/2009,"(37.77521496080, -122.41960726000)",N
37,10500,10237,3345,3089,Hunters Point Expy,4886008,PL APPROVED,08/03/2010,"(37.71468788590, -122.38030238900)",N
38,42,42,0,0,1700 MARKET ST,0855016,PL APPROVED,06/22/2015,"(37.77295341530, -122.42244714200)",N
39,8898,5677,284,284,3711 19th Ave,7303001,PL APPROVED,05/25/2011,"(37.72122008190, -122.48361033900)",N
40,1679,1679,252,252,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296750, -122.40222246200)",N
41,1500,1500,0,0,PIER 48,9900048,PL FILED,04/23/2013,"(37.77570376350, -122.38613510900)",N
42,1100,1100,0,0,PIER 70,4110001,PL FILED,02/10/2015,"(37.75975413610, -122.38699351400)",N
43,1600,994,0,0,HOPE SF Potrero,4167004,PL FILED,06/30/2010,"(37.75582048020, -122.39514414500)",N
44,1700,915,1700,915,HOPE SF Sunnydale,6310001,PL FILED,04/28/2010,"(37.71308743010, -122.41899015200)",N
45,146,146,25,25,88 ARKANSAS ST,3953002,PL FILED,03/25/2015,"(37.76535613160, -122.39904772400)",N
47,34,34,0,0,SAN FRANCISCO OVERLOOK,2636025,PL APPROVED,03/07/2014,"(37.75894098840, -122.46078167400)",N
48,133,133,0,0,75 HOWARD ST,3741031,PL FILED,01/13/2012,"(37.79155787850, -122.39167149900)",N
49,128,128,0,0,1140 FOLSOM STREET,3730015,PL FILED,10/16/2013,"(37.77623838020, -122.40895221600)",N
50,121,121,0,0,1298 HOWARD STREET,3728019,PL FILED,03/19/2014,"(37.77562857860, -122.41277867600)",N
54,119,119,0,0,325 FREMONT ST,3747012,PL APPROVED,07/17/2014,"(37.78777143720, -122.39294660100)",N
55,117,117,17,17,2675 FOLSOM ST,3639006,PL FILED,04/30/2015,"(37.75459458280, -122.41381158500)",N
...,...,...,...,...,...,...,...,...,...,...
527,2,1,0,0,25 BALBOA ST,1643051,PL APPROVED,01/12/2009,"(37.77720834580, -122.45912555500)",N
533,2,1,0,0,605 MISSISSIPPI ST,4103036,PL APPROVED,01/23/2009,"(37.75881112960, -122.39391061000)",N
574,2,1,0,0,2909 BUSH ST,1055021,PL APPROVED,01/20/2014,"(37.78507902520, -122.44552266800)",N
636,1,1,0,0,1911 QUESADA AV,5336048,PL FILED,08/08/2013,"(37.73539301820, -122.39559042200)",N
648,2,1,0,0,2695 SACRAMENTO ST,0634016A,PL APPROVED,11/29/2010,"(37.78924503200, -122.43710631400)",N
649,2,1,0,0,1513-1517 CHURCH ST,6593022,PL FILED,06/28/2012,"(37.74657934230, -122.42665849600)",N
654,1,1,0,0,658-666 SHOTWELL ST,3611062,PL APPROVED,10/10/2013,"(37.75782818450, -122.41600105500)",N
745,2,1,0,0,15 GUY PL,3749012,PL FILED,01/29/2015,"(37.78630745780, -122.39435201500)",N
753,2,1,0,0,1001 CHESTNUT ST,0069020,PL FILED,06/18/2013,"(37.80270803980, -122.42006518100)",N
781,3,1,0,0,2643 FOLSOM ST,3639009,PL FILED,04/16/2015,"(37.75501343120, -122.41395951300)",N
845,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.73999669550, -122.42230731900)",N
867,2,1,0,0,429 GRAND VIEW AV,2807040,PL APPROVED,10/16/2014,"(37.75192526390, -122.44228838500)",N
885,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.76186080480, -122.44127466700)",N
886,2,1,0,0,53 STATES ST,2623074,PL FILED,01/31/2014,"(37.76317626190, -122.43645582500)",N
897,6,1,0,0,618 NATOMA ST,3727045,PL FILED,09/13/2014,"(37.77812994310, -122.41057077800)",N
901,2,1,0,0,200 BRIGHT ST,7091025,PL APPROVED,07/31/2014,"(37.71454906760, -122.46335565100)",N
920,2,1,0,0,344 HOLLOWAY AV,6942028,PL FILED,05/03/2013,"(37.72206340000, -122.45691208800)",N
933,2,1,0,0,4621 19TH ST,2701A019,PL FILED,04/14/2014,"(37.75878245710, -122.44116453100)",N
948,1,1,0,0,75 LANSING ST,3749184,PL APPROVED,03/12/2014,"(37.78572623360, -122.39418009500)",N
996,1,1,0,0,36 Knollview Way,2823A016,PL FILED,07/31/2014,"(37.74984097310, -122.45071908700)",N
1057,2,0,0,0,3606 - 3608 Taraval Street,2375019,PL FILED,02/25/2015,"(37.74201129870, -122.50490191100)",N
1078,6,0,0,0,2324 MARKET ST,3562004,PL FILED,01/21/2015,"(37.76392085350, -122.43397006100)",N
1081,1,0,0,0,3225 LINCOLN WAY,1717048,PL FILED,05/20/2015,"(37.76449748800, -122.49272523100)",N
1087,5,0,0,0,1030 WASHINGTON ST,0191008A,PL FILED,05/20/2015,"(37.79482861790, -122.41029829100)",N
1111,164,164,0,0,800 Brotherhood Way,7331005,BP ISSUED,09/11/2012,"(37.71528627190, -122.47583598300)",N
1112,15,15,0,0,800 Brotherhood Way,7331005,BP APPROVED,09/11/2012,"(37.71528627190, -122.47583598300)",N
1113,13,13,0,0,800 Brotherhood Way,7331005,BP FILED,09/11/2012,"(37.71528627190, -122.47583598300)",N
1114,8619,7800,2050,1800,Treasure Island,1939001,PL APPROVED,03/15/2011,"(37.82428377200, -122.37095149600)",N
1117,395,395,0,0,1200 17TH STREET,3949001,PL FILED,04/04/2012,"(37.76612470790, -122.39547306100)",N
1118,330,330,0,0,"TRINITY PLAZA, PHASE IV",3702308,PL APPROVED,07/14/2015,"(37.77843876350, -122.41347975900)",N

Records without Permit ID at 2015'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,980,980,0,0,700 INNES ST,4644002A,PL FILED,12/09/2014,"94124\n(37.73018740910, -122.37203675100)",N
1,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL FILED,04/28/2010,"94134\n(37.71308743010, -122.41899015200)",N
2,767,767,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/14/2015,"94103\n(37.77425927670, -122.41948598900)",N
3,688,688,58,58,925 MISSION ST,3725093,PL FILED,05/15/2015,"94103\n(37.78215365440, -122.40660110900)",N
6,584,584,107,107,1601-1637 MARKET ST / 53 COLTON ST,3505001,PL FILED,07/10/2015,"94103\n(37.77389146450, -122.42002992900)",N
9,10500,10237,3345,3089,HUNTERS POINT EXPY,4886008,PL APPROVED,08/03/2010,"94124\n(37.71468788590, -122.38030238900)",N
10,1679,1679,252,252,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"94134\n(37.71165296750, -122.40222246200)",N
11,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"94158\n(37.77570376350, -122.38613510900)",N
12,1100,1100,0,0,PIER 70,4110001,PL FILED,02/10/2015,"94107\n(37.75975413610, -122.38699351400)",N
13,1600,994,0,0,HOPE SF POTRERO,4167004,PL FILED,06/30/2010,"94107\n(37.75582048020, -122.39514414500)",N
15,550,550,110,110,1500-1580 MISSION ST,3506002,PL FILED,04/29/2015,"94103\n(37.77431951400, -122.41802054000)",N
21,429,429,0,0,150 VAN NESS AVE,0814001,PL FILED,04/23/2014,"94102\n(37.77730065810, -122.41829544500)",N
26,312,312,0,0,1270 MISSION ST,3701021,PL FILED,05/28/2015,"94103\n(37.77680707880, -122.41452278800)",N
27,398,398,49,49,41 TEHAMA ST,3736074,PL APPROVED,11/14/2013,"94105\n(37.78697805450, -122.39662239800)",N
28,395,395,0,0,1200 17TH STREET,3949001,PL FILED,04/04/2012,"94107\n(37.76612470790, -122.39547306100)",N
32,340,340,0,0,800 INDIANA STREET,4105009,PL FILED,10/10/2013,"94107\n(37.75919640330, -122.39172904700)",N
33,330,330,0,0,"TRINITY PLAZA, PHASE IV",3702391,PL APPROVED,NaN,"94103\n(37.77843876350, -122.41347975900)",N
34,320,320,0,0,1601-1677 MARIPOSA STREET/485 CAROLINA,4005001B,PL FILED,07/09/2015,"94107\n(37.76293307330, -122.39899152800)",N
35,316,316,0,0,950 MARKET ST,0342001,PL FILED,05/28/2014,"94102\n(37.78317543390, -122.40956831600)",N
36,304,304,0,0,1066 MARKET ST,0350003,PL FILED,06/18/2014,"94102\n(37.78179900770, -122.41174159000)",N
37,292,292,0,0,50 01ST ST,3708006,PL FILED,06/04/2014,"94105\n(37.78990468770, -122.39832080100)",N
38,276,276,0,0,1301 16TH STREET,3954016,PL FILED,09/16/2013,"94103\n(37.76584514460, -122.40023935500)",N
43,251,251,0,0,1395 22ND ST,4167011,PL FILED,01/13/2014,"94107\n(37.75620342330, -122.39359366900)",N
44,250,250,0,0,"667 FOLSOM ST, 120 HAWTHORNE ST, 126 HAWTHORNE ST",3750082,PL FILED,10/06/2015,"94107\n(37.78422098100, -122.39763082300)",N
45,230,230,0,0,1390 MARKET ST,0813007,PL APPROVED,05/28/2009,"94102\n(37.77722361250, -122.41736136100)",N
46,220,220,0,0,1601 MISSION ST,3514043,PL FILED,02/11/2015,"94103\n(37.77204073220, -122.41876324800)",N
48,196,196,0,0,800 BROTHERHOOD WAY,7331003,CONSTRUCTION,09/11/2012,"94132\n(37.71528627190, -122.47583598300)",N
49,186,186,0,0,1028 MARKET ST,0350002,PL FILED,04/29/2014,"94102\n(37.78188348190, -122.41132333400)",N
51,160,160,20,20,1515 SOUTH VAN NESS AVENUE,6571001,PL FILED,01/28/2015,"94110\n(37.74902745460, -122.41499508600)",N
53,160,160,0,0,950 MASON STREET,0244001,PL FILED,02/11/2009,"94108\n(37.79242535220, -122.41009254900)",N
...,...,...,...,...,...,...,...,...,...,...
490,10,2,0,0,3527 18TH ST,3588001C,PL APPROVED,02/03/2012,"94110\n(37.76147673530, -122.42223868400)",N
507,4,2,0,0,115 PLYMOUTH AV,7138056,PL FILED,08/15/2014,"94112\n(37.71196969180, -122.45623165200)",N
517,2,2,0,0,870 INNES AV,4645017,PL FILED,09/26/2014,"94124\n(37.73196829930, -122.37517322700)",N
543,2,1,0,0,1036 WISCONSIN ST,4219004,PL APPROVED,10/06/2009,"94107\n(37.75419104490, -122.39895551100)",N
562,2,1,0,0,344 HOLLOWAY AV,6942028,PL FILED,05/03/2013,"94112\n(37.72206340000, -122.45691208800)",N
585,2,1,0,0,25 BALBOA ST,1643051,PL APPROVED,01/12/2009,"94118\n(37.77720834580, -122.45912555500)",N
595,2,1,0,0,1001 CHESTNUT ST,0069020,PL FILED,06/18/2013,"94109\n(37.80270803980, -122.42006518100)",N
642,2,1,0,0,2695 SACRAMENTO ST,0634016A,PL APPROVED,11/29/2010,"94115\n(37.78924503200, -122.43710631400)",N
643,1,1,0,0,658-666 SHOTWELL ST,3611062,PL APPROVED,10/10/2013,"94110\n(37.75782818450, -122.41600105500)",N
673,1,1,0,0,601 BRODERICK ST,1183010,PL APPROVED,01/08/2013,"94117\n(37.77583740880, -122.43997453900)",N
675,1,1,0,0,1911 QUESADA AV,5336048,PL FILED,08/08/2013,"94124\n(37.73539301820, -122.39559042200)",N
690,2,1,0,0,1513-1517 CHURCH ST,6593022,PL FILED,06/28/2012,"94131\n(37.74657934230, -122.42665849600)",N
741,3,1,0,0,3669-3671 23RD ST,3648033,PL Filed,07/28/2015,"94110\n(37.75328535040, -122.42457609900)",N
745,2,1,0,0,15 GUY PL,3749012,PL FILED,01/29/2015,"94105\n(37.78630745780, -122.39435201500)",N
776,1,1,0,0,827 KEARNY ST,0194004,PL Filed,07/29/2015,"94133\n(37.79568626350, -122.40535562100)",N
791,1,1,0,0,100 ALPINE TERRACE,2609066,PL APPROVED,03/12/2015,"94117\n(37.76889953520, -122.43776414800)",N
837,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"94110\n(37.73999669550, -122.42230731900)",N
848,3,1,0,0,2643 FOLSOM ST,3639009,PL FILED,04/16/2015,"94110\n(37.75501343120, -122.41395951300)",N
902,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"94114\n(37.76186080480, -122.44127466700)",N
904,2,1,0,0,53 STATES ST,2623074,PL FILED,01/31/2014,"94114\n(37.76317626190, -122.43645582500)",N
939,2,1,0,0,429 GRAND VIEW AV,2807040,PL APPROVED,10/16/2014,"94114\n(37.75192526390, -122.44228838500)",N
941,2,1,0,0,228 17TH AV,1417029,PL FILED,05/06/2014,"94118\n(37.78374356110, -122.47607426500)",N
960,2,1,0,0,4621 19TH ST,2701A019,PL FILED,04/14/2014,"94114\n(37.75878245710, -122.44116453100)",N
965,2,1,0,0,200 BRIGHT ST,7091025,PL APPROVED,07/31/2014,"94132\n(37.71454906760, -122.46335565100)",N
999,6,1,0,0,618 NATOMA ST,3727045,PL FILED,09/13/2014,"94103\n(37.77812994310, -122.41057077800)",N
1020,1,1,0,0,36 KNOLLVIEW WAY,2823A016,PL FILED,07/31/2014,"94131\n(37.74984097310, -122.45071908700)",N
1043,1,1,0,0,400 HEARST AV,3116006,PL Approved,10/01/2015,"94112\n(37.73082877010, -122.44681065700)",N
1055,1,1,0,0,75 LANSING ST,3749184,PL APPROVED,03/12/2014,"94105\n(37.78572623360, -122.39418009500)",N
1186,8898,5677,284,284,3711 19TH AVE,7303001,PL APPROVED,05/25/2011,"94132\n(37.72122008190, -122.48361033900)",N
1187,8619,7800,2050,1800,TREASURE ISLAND,1939001,PL APPROVED,03/15/2011,"94130\n(37.82428377200, -122.37095149600)",N

Records without Permit ID at 2015'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,10172,9916,3345,3089,"HUNTERS POINT SHIPYARD, PHASE II",4884025,PL APPROVED,10/27/2015,"(37.71938264020, -122.38493438200)",N
1,4666,4666,284,284,"PARKMERCED, PHASE I",7308001,BP FILED,01/25/2016,"(37.72050478190, -122.48387500900)",N
2,1679,1679,168,168,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296840, -122.40222246300)",N
3,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"(37.77570376350, -122.38613511100)",N
4,1100,1100,0,0,PIER 70,4110001,PL FILED,02/10/2015,"(37.75975413610, -122.38699351500)",N
5,1600,994,0,0,HOPE SF POTRERO,4167004,PL FILED,06/30/2010,"(37.75582048020, -122.39514414600)",N
6,980,980,0,0,700 INNES ST,4644002A,PL FILED,12/09/2014,"(37.73018741080, -122.37203675300)",N
7,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL FILED,04/28/2010,"(37.71308743010, -122.41899015300)",N
9,767,767,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/14/2015,"(37.77425927670, -122.41948599100)",N
10,688,688,58,58,5M,3725093,PL APPROVED,01/04/2016,"(37.78215365350, -122.40660110900)",N
13,591,591,0,0,5 THOMAS MELLON CIRCLE,4991075,PL FILED,10/06/2015,"(37.70999248450, -122.39379120000)",N
14,584,584,107,107,1601 - 1637 MARKET ST / 53 COLTON ST,3505001,PL FILED,07/10/2015,"(37.77389146360, -122.42002993000)",N
17,550,550,110,110,1500-1580 MISSION ST,3506002,PL FILED,04/29/2015,"(37.77433484280, -122.41800098600)",N
24,429,429,50,50,150 VAN NESS AV,0814001,PL FILED,04/23/2014,"(37.77730065810, -122.41829544700)",N
28,398,398,49,49,41 TEHAMA ST,3736074,PL APPROVED,11/14/2013,"(37.78697805360, -122.39662239800)",N
29,137,137,16,16,351V TURK ST & 145 LEAVENWORTH ST,0345017,PL APPROVED,04/30/2014,"(37.78237567640, -122.41490512900)",N
30,395,395,0,0,1200 17TH ST,3949001,PL FILED,04/04/2012,"(37.76612470880, -122.39547306100)",N
32,460,374,55,55,1530 - 1585 5TH AV,2636001,PL FILED,10/22/2015,"(37.75936797800, -122.46064763000)",N
34,354,354,0,0,30 OTIS ST,3505016,PL FILED,01/11/2016,"(37.77291691490, -122.41939483400)",N
36,340,340,0,0,800 INDIANA ST,4105009,PL FILED,10/10/2013,"(37.75919640330, -122.39172904700)",N
37,320,320,0,0,1601 - 1677 MARIPOSA STREET / 485 CAROLINA,4005001B,PL FILED,07/09/2015,"(37.76293307420, -122.39899152800)",N
38,140,140,0,0,429 BEALE ST,3767305,PL FILED,11/10/2015,"(37.78724763460, -122.39039559400)",N
39,316,316,0,0,950 MARKET ST,0342001,PL FILED,05/28/2014,"(37.78317543300, -122.40956831700)",N
41,312,312,0,0,1270 MISSION ST,3701021,PL FILED,05/28/2015,"(37.77680707690, -122.41452279000)",N
42,304,304,0,0,1066 MARKET ST,0350003,PL FILED,06/18/2014,"(37.78179900670, -122.41174159100)",N
44,276,276,0,0,1301 16TH STREET,3954016,PL FILED,09/16/2013,"(37.76584514550, -122.40023935600)",N
50,250,250,0,0,"667 FOLSOM ST, 120 HAWTHORNE ST, 126 HAWTHORNE ST",3750082,PL FILED,10/06/2015,"(37.78422098010, -122.39763082300)",N
52,230,230,0,0,1390 MARKET ST,0813007,PL APPROVED,05/28/2009,"(37.77722361250, -122.41736136300)",N
53,229,229,0,0,"HUNTERS POINT SHIPYARD, PHASE I",4591C001,CONSTRUCTION,01/07/2016,"(37.72983494010, -122.37083909200)",N
54,220,220,0,0,1601 MISSION ST,3514043,PL FILED,02/11/2015,"(37.77204073220, -122.41876324800)",N
...,...,...,...,...,...,...,...,...,...,...
621,2,1,0,0,344 HOLLOWAY AV,6942028,PL FILED,05/03/2013,"(37.72206340180, -122.45691208700)",N
681,2,1,0,0,1001 CHESTNUT ST,0069020,PL FILED,06/18/2013,"(37.80270803980, -122.42006518200)",N
698,1,1,0,0,1911 QUESADA AV,5336048,PL FILED,08/08/2013,"(37.73539301820, -122.39559042300)",N
722,2,1,0,0,2695 SACRAMENTO ST,0634016A,PL APPROVED,11/29/2010,"(37.78924503110, -122.43710631200)",N
743,1,1,0,0,658-666 SHOTWELL ST,3611062,PL APPROVED,10/10/2013,"(37.75782818540, -122.41600105700)",N
758,2,1,0,0,4466 24TH ST,2828016A,PL APPROVED,12/22/2015,"(37.75104970040, -122.44219894600)",N
768,2,1,0,0,1513 - 1517 CHURCH ST,6593022,PL FILED,06/28/2012,"(37.74657934310, -122.42665849700)",N
773,2,1,0,0,1125 HAMPSHIRE ST,4211021,PL APPROVED,12/04/2015,"(37.75359283790, -122.40707909200)",N
779,1,1,0,0,32 HERON ST,3755049,PL FILED,10/08/2015,"(37.77456647360, -122.40887286500)",N
781,2,1,0,0,215 - 217 DORE ST,3525035,PL FILED,12/02/2015,"(37.77192734600, -122.41021709900)",N
799,2,1,0,0,605 MISSISSIPPI ST,4103036,PL APPROVED,01/23/2009,"(37.75881112960, -122.39391061100)",N
813,2,1,0,0,1036 WISCONSIN ST,4219004,PL APPROVED,10/06/2009,"(37.75419104580, -122.39895551300)",N
834,1,1,0,0,75 LANSING ST,3749184,PL APPROVED,03/12/2014,"(37.78572623360, -122.39418009600)",N
879,6,1,0,0,618 NATOMA ST,3727045,PL FILED,09/13/2014,"(37.77812994220, -122.41057077800)",N
883,1,1,0,0,400 HEARST AV,3116006,PL APPROVED,10/01/2015,"(37.73082877100, -122.44681065600)",N
884,1,1,0,0,36 KNOLLVIEW WAY,2823A016,PL FILED,07/31/2014,"(37.74984097400, -122.45071908600)",N
918,2,1,0,0,15 GUY PL,3749012,PL FILED,01/29/2015,"(37.78630745690, -122.39435201600)",N
963,1,1,0,0,100 ALPINE TERRACE,2609066,PL APPROVED,03/12/2015,"(37.76889953610, -122.43776414600)",N
964,3,1,0,0,2643 FOLSOM ST,3639009,PL FILED,04/16/2015,"(37.75501343210, -122.41395951500)",N
992,3,1,0,0,3669 - 3671 23RD ST,3648033,PL FILED,07/28/2015,"(37.75330422850, -122.42457790900)",N
1000,1,1,0,0,827 KEARNY ST,0194004,PL FILED,07/29/2015,"(37.79568626350, -122.40535562200)",N
1008,2,1,0,0,429 GRAND VIEW AV,2807040,PL APPROVED,10/16/2014,"(37.75192526570, -122.44228838400)",N
1023,5,1,0,0,1528 15TH ST,3548021,PL FILED,09/29/2015,"(37.76696489830, -122.41831657800)",N
1026,2,1,0,0,200 BRIGHT ST,7091025,PL APPROVED,07/31/2014,"(37.71454906950, -122.46335565100)",N
1073,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.76186080580, -122.44127466500)",N
1076,2,1,0,0,4621 19TH ST,2701A019,PL FILED,04/14/2014,"(37.75878245800, -122.44116453100)",N
1112,2,1,0,0,53 STATES ST,2623074,PL FILED,01/31/2014,"(37.76317626280, -122.43645582500)",N
1115,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.73999669630, -122.42230732100)",N
1121,2,1,0,0,228 17TH AV,1417029,PL FILED,05/06/2014,"(37.78374356110, -122.47607426500)",N
1293,8619,7800,2050,1800,TREASURE ISLAND,1939001,PL APPROVED,03/15/2011,"(37.82428377110, -122.37095149600)",N

Records without Permit ID at 2016'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
21,6,6,0,0,1020 BROADWAY,0150054,PL APPROVED,03/24/2014,"(37.7972167593, -122.413811)",N
24,186,186,0,0,1028 MARKET ST,0350002,PL FILED,04/29/2014,"(37.7818834810, -122.411323)",N
28,9,9,0,0,1033 POLK ST,0694003,PL FILED,06/17/2015,"(37.7864341618, -122.420065)",N
33,2,1,0,0,1036 WISCONSIN ST,4219004,PL APPROVED,10/06/2009,"(37.7541910458, -122.398956)",N
49,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.7399966963, -122.422307)",N
67,2,1,0,0,1125 HAMPSHIRE ST,4211021,PL APPROVED,12/04/2015,"(37.7535928379, -122.407079)",N
68,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.7797562709, -122.412736)",N
78,4,2,0,0,115 PLYMOUTH AV,7138056,PL FILED,08/15/2014,"(37.7119696936, -122.456232)",N
102,395,395,0,0,1200 17TH ST,3949001,PL FILED,04/04/2012,"(37.7661247088, -122.395473)",N
104,135,135,0,0,1200 VAN NESS AV,0691005,PL FILED,12/17/2015,"(37.7869436097, -122.420986)",N
108,5,2,0,0,1210 UTAH ST,4212002,PL FILED,11/10/2015,"(37.7539201032, -122.405725)",N
128,7,5,0,0,124 - 126 HAIGHT ST,0852044,PL APPROVED,03/26/2015,"(37.7731265038, -122.424492)",N
154,276,276,0,0,1301 16TH STREET,3954016,PL FILED,09/16/2013,"(37.7658451455, -122.400239)",N
163,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.7618608058, -122.441275)",N
171,231,231,0,0,1333 GOUGH ST / 1481 POST ST,0697037,PL FILED,11/13/2013,"(37.7857338101, -122.425605)",N
179,51,51,0,0,135 HYDE ST,0346002,PL FILED,12/31/2015,"(37.7821475693, -122.415966)",N
192,30,3,0,0,1372 PINE ST,0250008,PL Filed,03/01/2016,"(37.7901746294, -122.418398)",N
199,17,2,0,0,140 DUBOCE AV,3502024,PL FILED,09/11/2014,"(37.7700132208, -122.423497)",N
209,34,34,0,0,1433 BUSH ST,0670024,PL FILED,09/22/2015,"(37.7883632539, -122.420841)",N
210,63,63,0,0,1436 & 1498 POLK ST/ 1567 CALIFORNIA ST,0645014,PL APPROVED,10/16/2015,"(37.7902656481, -122.420299)",N
220,6,2,0,0,1449 SOUTH VAN NESS AVE,6526030,PL Filed,03/24/2016,"(37.7499918377, -122.415690)",N
227,4,2,0,0,146 JASPER PL,0103021,PL FILED,06/24/2013,"(37.8012555792, -122.408791)",N
230,45,45,0,0,1463 STEVENSON ST,3532013,PL FILED,12/11/2015,"(37.7684589153, -122.421094)",N
240,2,1,0,0,15 GUY PL,3749012,PL FILED,01/29/2015,"(37.7863074569, -122.394352)",N
242,13,13,0,0,1924 MISSION ST,3554003A,PL FILED,02/12/2015,"(37.7662988444, -122.420121)",N
249,157,157,0,0,1950 MISSION ST,3554005,PL FILED,02/26/2016,"(37.7658462455, -122.420208)",N
250,88,88,0,0,1965 MARKET ST,3534058,PL FILED,03/06/2015,"(37.7694254060, -122.425950)",N
262,2,1,0,0,25 BALBOA ST,1643051,PL APPROVED,01/12/2009,"(37.7772083449, -122.459126)",N
270,23,23,0,0,3355 GEARY BL,1086025,PL FILED,03/20/2013,"(37.7811714290, -122.454880)",N
271,6,5,0,0,3357 26TH ST,6570002,PL FILED,02/05/2015,"(37.7488365910, -122.417254)",N
...,...,...,...,...,...,...,...,...,...,...
1225,182,182,0,0,975 BRYANT ST,3780044,PL FILED,10/29/2015,"(37.7728707910, -122.405659)",N
1228,45,45,0,0,98 PENNSYLVANIA AV,3948002,PL FILED,06/05/2014,"(37.7655618070, -122.394221)",N
1232,65,4,0,0,990 GEARY ST,0693014,PL FILED,05/07/2015,"(37.7861870864, -122.419486)",N
1234,50,50,8,8,992 PERALTA AV,5696036,PL FILED,01/27/2014,"(37.7373159491, -122.409400)",N
1241,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL FILED,04/28/2010,"(37.7130874301, -122.418990)",N
1250,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"(37.7757037635, -122.386135)",N
1256,2,1,0,0,1001 CHESTNUT ST,0069020,PL FILED,06/18/2013,"(37.8027080398, -122.420065)",N
1258,767,767,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/14/2015,"(37.7742592767, -122.419486)",N
1260,1,1,0,0,100 ALPINE TERRACE,2609066,PL FILED,03/12/2015,"(37.7688995361, -122.437764)",N
1264,1679,1679,168,168,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.7116529684, -122.402222)",N
1265,34,34,0,0,SAN FRANCISCO OVERLOOK,2636025,PL APPROVED,03/07/2014,"(37.7589409885, -122.460782)",N
1266,1100,1100,0,0,PIER 70,4110001,PL FILED,02/10/2015,"(37.7597541361, -122.386994)",N
1267,8619,7800,2050,1800,TREASURE ISLAND,1939001,PL APPROVED,03/15/2011,"(37.8242837711, -122.370952)",N
1268,26,26,0,0,PARCEL T (CENTRAL FREEWAY),0853022,PL FILED,02/18/2015,"(37.7736583179, -122.423699)",N
1269,112,112,112,112,PARCEL O,0831024,PL FILED,01/07/2016,"(37.7753559271, -122.425374)",N
1273,169,169,0,0,HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION),4591C001,CONSTRUCTION,01/07/2016,"(37.7298349401, -122.370839)",N
1274,117,117,0,0,HP SHIPYARD PHASE 1 (BP ISSUED),4591C001,BP ISSUED,09/21/2015,"(37.7298349401, -122.370839)",N
1275,463,463,0,0,HP SHIPYARD PHASE 1 (BP FILED),4591C001,BP FILED,12/14/2015,"(37.7298349401, -122.370839)",N
1276,127,127,0,0,555 HOWARD ST,3736110,PL FILED,10/14/2015,"(37.7875294118, -122.396880)",N
1277,64,64,160,160,55 LAGUNA ST (REMAINING),0857007,BP FILED,07/06/2015,"(37.7716971210, -122.426147)",N
1279,334,334,50,50,524 HOWARD ST,3721013,PL FILED,02/17/2015,"(37.7882232120, -122.397017)",N
1280,312,312,0,0,1270 MISSION ST,3701021,PL FILED,05/28/2015,"(37.7768070769, -122.414523)",N
1282,2,1,0,0,53 STATES ST,2623074,PL FILED,01/31/2014,"(37.7631762628, -122.436456)",N
1285,591,591,0,0,5 THOMAS MELLON CIRCLE,4991075,PL FILED,10/06/2015,"(37.7099924845, -122.393791)",N
1287,28,28,0,0,519 ELLIS ST,0334028,PL FILED,06/25/2015,"(37.7842982031, -122.415004)",N
1288,16,16,0,0,1320 - 1380 LOMBARD ST,0499002D,PL FILED,01/12/2016,"(37.8017630001, -122.423730)",N
1289,10500,10244,0,0,"HUNTERS POINT SHIPYARD, PHASE II",4884025,PL APPROVED,04/10/2014,"(37.7193826402, -122.384934)",N
1290,7887,4666,284,284,PARKMERCED (REMAINING UNITS),7308001,PL APPROVED,01/25/2016,"(37.7205047819, -122.483875)",N
1295,980,980,0,0,700 INNES ST,4644002A,PL FILED,12/09/2014,"(37.7301874108, -122.372037)",N
1296,99,99,0,0,800 BROTHERHOOD WAY,7331005,CONSTRUCTION,NaN,"(37.7152862737, -122.475836)",N

Records without Permit ID at 2016'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
8,855,855,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/11/2016,"(37.77425927670, -122.41948599100)",N
10,1,1,0,0,100 ALPINE TER,2609066,PL FILED,03/12/2015,"(37.76889953610, -122.43776414600)",N
18,256,256,31,31,1001 VAN NESS AV,0714016,PL FILED,01/08/2015,"(37.78492975260, -122.42191084700)",N
27,186,186,0,0,1028 MARKET ST,0350002,PL FILED,04/29/2014,"(37.78188348100, -122.41132333400)",N
31,9,9,0,0,1033 POLK ST,0694003,PL FILED,06/17/2015,"(37.78643416180, -122.42006518100)",N
39,46,42,0,0,1052-1060 FOLSOM ST AND 190-194 RUSS ST,3731021,PL FILED,06/23/2016,"(37.77768515020, -122.40709824600)",N
50,8,8,0,0,1082 HOWARD ST,3726028,PL FILED,01/21/2016,"(37.77848795340, -122.40915060700)",N
54,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.73999669630, -122.42230732100)",N
69,2,1,0,0,1125 HAMPSHIRE ST,4211021,PL APPROVED,12/04/2015,"(37.75359283790, -122.40707909200)",N
70,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.77975627090, -122.41273619900)",N
103,135,135,0,0,1200 VAN NESS AV,0691005,PL FILED,05/17/2016,"(37.78694360970, -122.42098584000)",N
111,5,2,0,0,1210 UTAH ST,4212002,PL APPROVED,07/07/2016,"(37.75392010320, -122.40572541300)",N
129,7,5,0,0,124 - 126 HAIGHT ST,0852044,PL APPROVED,03/26/2015,"(37.77312650380, -122.42449215200)",N
134,2,2,0,0,125 CLEMENT ST,1434043,PL FILED,06/10/2016,"(37.78287711850, -122.46056907200)",N
143,312,312,0,0,1270 MISSION ST,3701021,PL FILED,06/28/2016,"(37.77680707690, -122.41452279000)",N
151,96,96,96,96,1296 SHOTWELL ST,6571051,PL FILED,04/04/2016,"(37.74864030990, -122.41520050400)",N
158,176,176,28,28,1301 16TH ST,3954016,PL APPROVED,06/28/2016,"(37.76584514550, -122.40023935600)",N
167,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.76186080580, -122.44127466500)",N
168,124,18,0,0,1320 - 1380 LOMBARD ST,0499002D,PL FILED,01/12/2016,"(37.80176300010, -122.42372989400)",N
176,4,1,0,0,1331 WASHINGTON ST,0215023,PL FILED,06/30/2016,"(37.79386950470, -122.41530254700)",N
178,231,231,0,0,1333 GOUGH ST / 1481 POST ST,0697037,PL FILED,11/13/2013,"(37.78573381010, -122.42560544300)",N
186,51,51,0,0,135 HYDE ST,0346002,PL FILED,12/31/2015,"(37.78214756930, -122.41596571000)",N
189,30,3,0,0,1372 PINE ST,0250008,PL FILED,03/01/2016,"(37.79017462940, -122.41839770300)",N
210,17,2,0,0,140 DUBOCE AV,3502024,PL FILED,09/11/2014,"(37.77001322080, -122.42349678300)",N
219,47,47,6,6,1433 BUSH ST,0670024,PL FILED,09/22/2015,"(37.78836325390, -122.42084130500)",N
220,63,63,8,8,1436 & 1498 POLK ST/ 1567 CALIFORNIA ST,0645014,PL APPROVED,10/16/2015,"(37.79026564810, -122.42029936300)",N
225,4,2,0,0,146 JASPER PL,0103021,PL FILED,06/24/2013,"(37.80125557920, -122.40879053800)",N
229,6,2,0,0,1449 SOUTH VAN NESS AV,6526030,PL FILED,03/24/2016,"(37.74999183770, -122.41568987800)",N
239,45,45,0,0,1463 STEVENSON ST,3532013,PL FILED,06/28/2016,"(37.76845891530, -122.42109368600)",N
254,550,550,110,110,1500 - 1580 MISSION ST,3506002,PL FILED,04/29/2015,"(37.77433484280, -122.41800098600)",N
...,...,...,...,...,...,...,...,...,...,...
1177,3,3,0,0,800 BROTHERHOOD WAY (BP ISSUED),7331003,BP ISSUED,07/01/2016,"(37.71535854280, -122.47728056500)",N
1178,81,81,0,0,800 BROTHERHOOD WAY (UNDER CONSTRUCTION),7331005,CONSTRUCTION,07/01/2016,"(37.71528627370, -122.47583598300)",N
1183,50,49,5,5,807 FRANKLIN ST,0744002,PL FILED,06/23/2015,"(37.78212012750, -122.42271086300)",N
1194,1,1,0,0,827 KEARNY ST,0194004,PL FILED,07/29/2015,"(37.79568626350, -122.40535562200)",N
1196,60,60,0,0,828 BRANNAN ST,3780004E,PL FILED,04/14/2016,"(37.77275248510, -122.40415780600)",N
1198,126,126,15,15,830 EDDY ST,0738018,PL FILED,12/08/2015,"(37.78305190020, -122.42164637600)",N
1206,45,45,0,0,850 LA PLAYA,1691019,PL FILED,06/14/2011,"(37.77235488810, -122.50942725100)",N
1212,10,4,0,0,859 VALLEJO ST,0148022,PL APPROVED,07/01/2016,"(37.79808627880, -122.41130483800)",N
1226,128,128,16,16,888 TENNESSEE ST,4060001,PL APPROVED,10/16/2013,"(37.76076626640, -122.38998466700)",N
1235,395,395,0,0,901 16TH ST,3949001,PL FILED,04/04/2012,"(37.76612470880, -122.39547306100)",N
1239,6,5,0,0,908 BROADWAY,0149010,PL FILED,04/17/2014,"(37.79735752180, -122.41249913700)",N
1240,172,172,60,60,909 - 921 HOWARD ST & 206 05TH ST,3732003,PL FILED,03/25/2015,"(37.78106654990, -122.40481863300)",N
1264,4,3,0,0,95 NORDHOFF ST,6763001,PL FILED,10/10/2014,"(37.73425439990, -122.44133270000)",N
1268,108,108,0,0,950 TENNESSEE ST,4107001B,PL FILED,12/28/2015,"(37.75974769170, -122.38988211700)",N
1277,182,182,0,0,975 BRYANT ST,3780044,PL FILED,10/29/2015,"(37.77287079100, -122.40565920800)",N
1280,45,45,0,0,98 PENNSYLVANIA AV,3948002,PL FILED,06/05/2014,"(37.76556180700, -122.39422104300)",N
1285,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL FILED,04/28/2010,"(37.71308743010, -122.41899015300)",N
1286,22,22,0,0,HP SHIPYARD PHASE 1 (BP APPROVED),4591C001,BP APPROVED,09/21/2015,"(37.72983494010, -122.37083909200)",N
1287,492,492,0,0,HP SHIPYARD PHASE 1 (BP FILED),4591C001,BP FILED,12/14/2015,"(37.72983494010, -122.37083909200)",N
1288,89,89,0,0,HP SHIPYARD PHASE 1 (BP ISSUED),4591C001,BP ISSUED,09/21/2015,"(37.72983494010, -122.37083909200)",N
1289,185,185,0,0,HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION),4591C001,CONSTRUCTION,01/07/2016,"(37.72983494010, -122.37083909200)",N
1290,10500,10244,3345,3089,"HUNTERS POINT SHIPYARD, PHASE II",4884025,PL APPROVED,04/10/2014,"(37.71938264020, -122.38493438200)",N
1291,980,980,0,0,INDIA BASIN,4644002A,PL FILED,12/09/2014,"(37.73018741080, -122.37203675300)",N
1304,26,26,0,0,PARCEL T (CENTRAL FREEWAY),0853022,PL FILED,02/18/2015,"(37.77365831790, -122.42369923100)",N
1305,7887,4666,284,284,PARKMERCED (REMAINING UNITS),7308001,PL APPROVED,01/25/2016,"(37.72050478190, -122.48387500900)",N
1306,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"(37.77570376350, -122.38613511100)",N
1307,1100,1100,0,0,PIER 70 FOREST CITY - WATERFRONT SITE,4110008A,PL FILED,02/10/2015,"(37.75856908540, -122.38688099500)",N
1311,34,34,0,0,SAN FRANCISCO OVERLOOK,2636025,PL APPROVED,03/07/2014,"(37.75894098850, -122.46078167200)",N
1312,1679,1679,168,168,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296840, -122.40222246300)",N
1319,8619,7800,2050,1800,TREASURE ISLAND / YERBA BUENA ISLAND DEV AREA ...,1939001,PL APPROVED,03/15/2011,"(37.82428377110, -122.37095149600)",N

Records without Permit ID at 2016'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
0,4,4,0,0,3140 16TH ST,3555018,PL APPROVED,07/27/2016,"(37.76510622520, -122.42289112700)",N
2,15,15,0,0,824 HYDE ST,0280017,PL APPROVED,03/24/2016,"(37.78857856960, -122.41659181800)",N
31,96,96,96,96,1296 SHOTWELL ST,6571051,PL FILED,04/04/2016,"(37.74864031080, -122.41520050200)",N
43,220,220,0,0,1601 MISSION ST,3514043,PL APPROVED,04/07/2016,"(37.77204073130, -122.41876324900)",N
52,4,3,0,0,21 ROSEMONT PL,3534020,PL APPROVED,07/23/2014,"(37.76876056660, -122.42540361800)",N
71,37,37,0,0,1245 FOLSOM ST,3756041,PL FILED,03/22/2016,"(37.77418218890, -122.41048159100)",N
84,359,359,0,0,1270 MISSION ST,3701021,PL FILED,06/28/2016,"(37.77680707790, -122.41452278800)",N
91,172,172,28,28,1301 16TH ST,3954016,PL APPROVED,06/28/2016,"(37.76584514550, -122.40023935500)",N
103,2,1,0,0,132 CORBETT AV,2652010,PL APPROVED,07/10/2014,"(37.76186080670, -122.44127466600)",N
104,124,18,0,0,1320 - 1380 LOMBARD ST,0499002D,PL FILED,01/12/2016,"(37.80176299930, -122.42372989200)",N
111,460,374,55,55,1530 - 1585 5TH AV,2636001,PL FILED,10/22/2015,"(37.75936797890, -122.46064762700)",N
113,4,1,0,0,1331 WASHINGTON ST,0215023,PL FILED,06/30/2016,"(37.79386950380, -122.41530254800)",N
115,231,231,0,0,1333 GOUGH ST / 1481 POST ST,0697037,PL FILED,11/13/2013,"(37.78573380920, -122.42560544400)",N
126,51,51,0,0,135 HYDE ST,0346002,PL FILED,12/31/2015,"(37.78214756840, -122.41596570700)",N
150,17,2,0,0,140 DUBOCE AV,3502024,PL FILED,09/11/2014,"(37.77001322180, -122.42349678000)",N
157,63,63,8,8,1436 & 1498 POLK ST/ 1567 CALIFORNIA ST,0645014,PL APPROVED,10/16/2015,"(37.79026564810, -122.42029936200)",N
167,6,2,0,0,1449 SOUTH VAN NESS AV,6526030,PL FILED,03/24/2016,"(37.74999183680, -122.41568987800)",N
177,4,2,0,0,146 JASPER PL,0103021,PL FILED,06/24/2013,"(37.80125558020, -122.40879053700)",N
181,45,45,0,0,1463 STEVENSON ST,3532013,PL FILED,06/28/2016,"(37.76845891620, -122.42109368400)",N
197,550,550,110,110,1500 - 1580 MISSION ST,3506002,PL FILED,04/29/2015,"(37.77433484190, -122.41800098700)",N
205,2,1,0,0,1513 - 1517 CHURCH ST,6593022,PL FILED,06/28/2012,"(37.74657934220, -122.42665849700)",N
209,157,157,21,21,1515 SOUTH VAN NESS AV,6571001,PL APPROVED,08/11/2016,"(37.74902745450, -122.41499508800)",N
213,15,15,0,0,1525 PINE ST,0667020,PL FILED,05/09/2016,"(37.78932106980, -122.42082638900)",N
225,180,180,0,0,1540 MARKET ST,0836002,PL FILED,03/17/2016,"(37.77521495990, -122.41960726200)",N
253,31,31,4,4,1601 - 1635 OCEAN AV,6935001,PL FILED,12/11/2013,"(37.72429779210, -122.45937730700)",N
254,584,584,107,107,1601 - 1637 MARKET ST / 53 COLTON ST,3505001,PL FILED,07/10/2015,"(37.77389146360, -122.42002993000)",N
286,36,36,0,0,1726 - 1730 MISSION ST,3532005,PL FILED,07/14/2015,"(37.76935930350, -122.42039943000)",N
291,100,100,15,15,1740 MARKET ST,0855010,PL APPROVED,07/28/2016,"(37.77254417690, -122.42310203000)",N
312,7,7,0,0,1798 BRYANT ST,3965010,PL FILED,01/08/2016,"(37.76452160210, -122.41065261000)",N
334,88,88,0,0,1965 MARKET ST,3534058,PL FILED,03/06/2015,"(37.76942540600, -122.42594960500)",N
...,...,...,...,...,...,...,...,...,...,...
1188,128,128,16,16,888 TENNESSEE ST,4060001,PL APPROVED,10/16/2013,"(37.76076626550, -122.38998466800)",N
1195,395,395,0,0,901 16TH ST,3949001,PL APPROVED,05/12/2016,"(37.76612470960, -122.39547306200)",N
1199,6,5,0,0,908 BROADWAY,0149010,PL FILED,04/17/2014,"(37.79735752090, -122.41249913800)",N
1200,178,178,60,60,909 - 921 HOWARD ST & 206 05TH ST,3732003,PL FILED,03/25/2015,"(37.78106654900, -122.40481863300)",N
1225,330,330,0,0,95 HAWTHORNE ST,3735012,PL FILED,09/28/2016,"(37.78505019320, -122.39789821100)",N
1226,4,3,0,0,95 NORDHOFF ST,6763001,PL FILED,10/10/2014,"(37.73425440080, -122.44133270100)",N
1229,108,108,0,0,950 TENNESSEE ST,4107001B,PL FILED,12/28/2015,"(37.75974769170, -122.38988211500)",N
1240,182,182,0,0,975 BRYANT ST,3780044,PL FILED,10/29/2015,"(37.77287079010, -122.40565920900)",N
1242,45,45,0,0,98 PENNSYLVANIA AV,3948002,PL APPROVED,02/19/2016,"(37.76556180610, -122.39422104300)",N
1257,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL FILED,04/28/2010,"(37.71308743100, -122.41899015200)",N
1258,75,75,0,0,HP SHIPYARD PHASE 1 (BP APPROVED),4591C001,BP APPROVED,09/21/2015,"(37.72983493920, -122.37083909100)",N
1259,439,439,0,0,HP SHIPYARD PHASE 1 (BP FILED),4591C001,BP FILED,12/14/2015,"(37.72983493920, -122.37083909100)",N
1260,89,89,0,0,HP SHIPYARD PHASE 1 (BP ISSUED),4591C001,BP ISSUED,09/21/2015,"(37.72983493920, -122.37083909100)",N
1261,167,167,0,0,HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION),4591C001,CONSTRUCTION,01/07/2016,"(37.72983493920, -122.37083909100)",N
1262,10500,10244,3345,3089,"HUNTERS POINT SHIPYARD, PHASE II",4884025,PL APPROVED,04/10/2014,"(37.71938264110, -122.38493438300)",N
1263,980,980,0,0,INDIA BASIN,4644002A,PL FILED,12/09/2014,"(37.73018741000, -122.37203675100)",N
1275,26,26,0,0,PARCEL T (CENTRAL FREEWAY),0853022,PL FILED,02/18/2015,"(37.77365831880, -122.42369923200)",N
1276,7887,4666,284,284,PARKMERCED (REMAINING UNITS),7308001,PL APPROVED,01/25/2016,"(37.72050478190, -122.48387500900)",N
1277,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"(37.77570376260, -122.38613511200)",N
1278,1100,1100,0,0,PIER 70 FOREST CITY - WATERFRONT SITE,4110008A,PL FILED,02/10/2015,"(37.75856908540, -122.38688099200)",N
1282,34,34,0,0,SAN FRANCISCO OVERLOOK,2636025,PL APPROVED,03/07/2014,"(37.75894098930, -122.46078167300)",N
1283,1679,1679,168,168,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296930, -122.40222246300)",N
1290,8619,7800,2050,1800,TREASURE ISLAND / YERBA BUENA ISLAND DEV AREA ...,1939001,PL APPROVED,03/15/2011,"(37.82428377110, -122.37095149700)",N
1299,855,855,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/11/2016,"(37.77425927580, -122.41948598900)",N
1318,186,186,0,0,1028 MARKET ST,0350002,PL FILED,04/29/2014,"(37.78188348190, -122.41132333500)",N
1322,9,9,0,0,1033 POLK ST,0694003,PL FILED,06/17/2015,"(37.78643416260, -122.42006518300)",N
1325,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.73999669720, -122.42230732100)",N
1331,46,42,0,0,1052-1060 FOLSOM ST AND 190-194 RUSS ST,3731021,PL FILED,06/23/2016,"(37.77768514930, -122.40709824600)",N
1340,8,8,0,0,1082 HOWARD ST,3726028,PL FILED,01/21/2016,"(37.77848795420, -122.40915060800)",N
1360,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.77975627180, -122.41273619900)",N

Records without Permit ID at 2016'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
1,94,94,0,0,955 POST ST,0302021,PL FILED,12/09/2016,"(37.78683277040, -122.41763739600)",N
5,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.77975627180, -122.41273619900)",N
61,37,37,0,0,1245 FOLSOM ST,3756041,PL FILED,03/22/2016,"(37.77418218890, -122.41048159100)",N
76,94,94,94,94,1296 SHOTWELL ST,6571051,PL APPROVED,12/07/2016,"Y\n(37.74864031080, -122.41520050200)",N
84,172,172,28,28,1301 16TH ST,3954016,PL APPROVED,06/28/2016,"(37.76584514550, -122.40023935500)",N
86,231,231,0,0,1333 GOUGH ST / 1481 POST ST,0697037,PL FILED,11/13/2013,"(37.78573380920, -122.42560544400)",N
117,17,2,0,0,140 DUBOCE AV,3502024,PL FILED,09/11/2014,"Y\n(37.77001322180, -122.42349678000)",N
129,63,63,8,8,1436 & 1498 POLK ST/ 1567 CALIFORNIA ST,0645014,PL APPROVED,10/16/2015,"(37.79026564810, -122.42029936200)",N
134,4,2,0,0,146 JASPER PL,0103021,PL FILED,06/24/2013,"(37.80125558020, -122.40879053700)",N
138,45,45,0,0,1463 STEVENSON ST,3532013,PL FILED,06/28/2016,"Y\n(37.76845891620, -122.42109368400)",N
148,460,374,55,55,1530 - 1585 5TH AV,2636001,PL FILED,10/22/2015,"(37.75936797890, -122.46064762700)",N
167,2,1,0,0,1513 - 1517 CHURCH ST,6593022,PL FILED,06/28/2012,"(37.74657934220, -122.42665849700)",N
169,157,157,21,21,1515 SOUTH VAN NESS AV,6571001,PL APPROVED,08/11/2016,"Y\n(37.74902745450, -122.41499508800)",N
173,15,15,0,0,1525 PINE ST,0667020,PL FILED,05/09/2016,"(37.78932106980, -122.42082638900)",N
201,381,381,0,0,1144 - 1150 HARRISON ST,3755023,PL FILED,12/02/2016,"(37.77498432020, -122.40784088800)",N
222,124,18,0,0,1320 - 1380 LOMBARD ST,0499002D,PL FILED,01/12/2016,"(37.80176299930, -122.42372989200)",N
229,4,1,0,0,1331 WASHINGTON ST,0215023,PL FILED,06/30/2016,"(37.79386950380, -122.41530254800)",N
236,6,2,0,0,1449 SOUTH VAN NESS AV,6526030,PL FILED,03/24/2016,"Y\n(37.74999183680, -122.41568987800)",N
266,31,31,4,4,1601 - 1635 OCEAN AV,6935001,PL FILED,12/11/2013,"(37.72429779210, -122.45937730700)",N
267,584,584,107,107,1601 - 1637 MARKET ST / 53 COLTON ST,3505001,PL FILED,07/10/2015,"Y\n(37.77389146360, -122.42002993000)",N
311,36,36,0,0,1726 - 1730 MISSION ST,3532005,PL FILED,07/14/2015,"Y\n(37.76935930350, -122.42039943000)",N
314,9,9,0,0,1735 - 1751 FULTON ST,1186009J,PL FILED,03/03/2016,"(37.77564545540, -122.44544299000)",N
338,131,131,0,0,1798 BRYANT ST,3965010,PL FILED,01/08/2016,"Y\n(37.76452160210, -122.41065261000)",N
370,155,155,0,0,19 - 25 MASON ST & 2 - 16 TURK ST,0340002,PL APPROVED,03/04/2014,"(37.78375009700, -122.40949422800)",N
389,88,88,0,0,1965 MARKET ST,3534058,PL FILED,03/06/2015,"Y\n(37.76942540600, -122.42594960500)",N
404,144,117,0,0,200 - 204 VAN NESS AV,0811010,PL FILED,07/07/2016,"(37.77752895060, -122.41932345300)",N
424,53,53,0,0,2050 VAN NESS AV / 1675 PACIFIC AV,0595008,PL FILED,03/01/2016,"(37.79463218360, -122.42279549600)",N
431,3,2,0,0,2075 BANCROFT AV,5426031,PL FILED,04/19/2012,"(37.73042533290, -122.40184587300)",N
440,4,3,0,0,21 ROSEMONT PL,3534020,PL APPROVED,07/23/2014,"Y\n(37.76876056660, -122.42540361800)",N
450,11,3,0,0,2125 HYDE ST,0095031,PL FILED,11/16/2016,"(37.80062583050, -122.41969799400)",N
...,...,...,...,...,...,...,...,...,...,...
1248,6,5,0,0,908 BROADWAY,0149010,PL FILED,04/17/2014,"(37.79735752090, -122.41249913800)",N
1249,178,178,60,60,909 - 921 HOWARD ST & 206 05TH ST,3732003,PL FILED,03/25/2015,"(37.78106654900, -122.40481863300)",N
1272,330,330,0,0,95 HAWTHORNE ST,3735012,PL FILED,09/28/2016,"Y\n(37.78505019320, -122.39789821100)",N
1273,4,3,0,0,95 NORDHOFF ST,6763001,PL FILED,10/10/2014,"(37.73425440080, -122.44133270100)",N
1277,108,108,0,0,950 TENNESSEE ST,4107001B,PL APPROVED,12/15/2016,"(37.75974769170, -122.38988211500)",N
1284,182,182,0,0,975 BRYANT ST,3780044,PL FILED,10/29/2015,"(37.77287079010, -122.40565920900)",N
1295,328,328,0,0,CANDLESTICK POINT (BP FILED),4591C001,BP FILED,10/27/2015,"(37.72983493920, -122.37083909100)",NMULTIPLE
1296,9835,9579,3345,2833,CANDLESTICK POINT (REMAINING),4884025,PL APPROVED,04/10/2014,"(37.71938264110, -122.38493438300)",N
1298,586,586,0,0,EXECUTIVE PARK - YERBY CO.,4991075,PL FILED,10/06/2015,"(37.70999248540, -122.39379119900)",NMULTIPLE
1301,1528,922,0,0,HOPE SF POTRERO (REMAINING),4167004,PL APPROVED,10/11/2016,"(37.75582048110, -122.39514414600)",N
1302,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL APPROVED,07/09/2015,"(37.71308743100, -122.41899015200)",N
1303,59,59,0,0,HUNTERS POINT SHIPYARD (BP APPROVED),4591C001,BP APPROVED,09/21/2015,"(37.72983493920, -122.37083909100)",NMULTIPLE
1304,389,389,0,0,HUNTERS POINT SHIPYARD (BP FILED),4591C001,BP FILED,12/14/2015,"(37.72983493920, -122.37083909100)",NMULTIPLE
1305,134,134,0,0,HUNTERS POINT SHIPYARD (BP ISSUED),4591C001,BP ISSUED,09/21/2015,"(37.72983493920, -122.37083909100)",NMULTIPLE
1306,634,634,0,0,HUNTERS POINT SHIPYARD (REMANING),4591C001,PL APPROVED,10/09/2014,"(37.72983493920, -122.37083909100)",N
1307,1240,1240,0,0,INDIA BASIN,4644002A,PL FILED,12/09/2014,"(37.73018741000, -122.37203675100)",N
1317,26,26,0,0,PARCEL T - OCTAVIA BLVD PARCEL T,0853022,PL FILED,02/18/2015,"Y\n(37.77365831880, -122.42369923200)",N
1318,7887,4666,284,284,PARKMERCED (REMAINING),7308001,PL APPROVED,01/25/2016,"(37.72050478190, -122.48387500900)",NMULTIPLE
1319,1013,1013,0,0,PARKMERCED PHASE I (BP FILED),7308001,BP FILED,01/25/2016,"(37.72050478190, -122.48387500900)",NMULTIPLE
1320,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"(37.77570376260, -122.38613511200)",N
1322,1100,1100,0,0,PIER 70 FOREST CITY - WATERFRONT SITE,4110008A,PL FILED,02/10/2015,"(37.75856908540, -122.38688099200)",N
1324,1679,1679,168,168,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296930, -122.40222246300)",N
1325,182,182,182,182,SEAWALL LOT 322-1,0140007,PL FILED,08/09/2016,"(37.79926012410, -122.39961795000)",N
1333,8619,7800,2050,1800,TREASURE ISLAND / YERBA BUENA ISLAND DEV AREA ...,1939001,PL APPROVED,03/15/2011,"(37.82428377110, -122.37095149700)",N
1342,855,855,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/11/2016,"Y\n(37.77425927580, -122.41948598900)",N
1359,186,186,0,0,1028 MARKET ST,0350002,PL FILED,04/29/2014,"(37.78188348190, -122.41132333500)",N
1363,9,9,0,0,1033 POLK ST,0694003,PL FILED,06/17/2015,"(37.78643416260, -122.42006518300)",N
1371,46,42,0,0,1052-1060 FOLSOM ST AND 190-194 RUSS ST,3731021,PL FILED,06/23/2016,"(37.77768514930, -122.40709824600)",N
1384,8,8,0,0,1082 HOWARD ST,3726028,PL FILED,01/21/2016,"(37.77848795420, -122.40915060800)",N
1388,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.73999669720, -122.42230732100)",N

Records without Permit ID at 2017'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE,LOCATION,BP_APPLNO
7,164,164,0,0,1125 MARKET ST,3702047,PL FILED,12/18/2013,"(37.77975627180, -122.41273619800)",N
58,37,37,0,0,1245 FOLSOM ST,3756041,PL FILED,03/22/2016,"(37.77418218980, -122.41048158900)",N
78,94,94,94,94,1296 SHOTWELL ST,6571051,PL APPROVED,12/07/2016,"Y\n(37.74864030990, -122.41520050200)",N
98,44,44,0,0,230 07TH ST,3730004,PL FILED,07/30/2014,"(37.77729530030, -122.40912349300)",N
104,18,16,0,0,231 ELLIS ST,0331001A,PL FILED,02/28/2013,"(37.78501273230, -122.40994765900)",N
113,4,3,0,0,3532 23RD ST,3634009,PL APPROVED,07/08/2016,"Y\n(37.75385569910, -122.42234910200)",N
126,172,172,28,28,1301 16TH ST,3954016,PL APPROVED,06/28/2016,"(37.76584514460, -122.40023935500)",N
137,124,18,0,0,1320 - 1380 LOMBARD ST,0499002D,PL FILED,01/12/2016,"(37.80176300020, -122.42372989200)",N
138,4,1,0,0,1331 WASHINGTON ST,0215023,PL FILED,06/30/2016,"(37.79386950560, -122.41530254700)",N
139,231,231,0,0,1333 GOUGH ST / 1481 POST ST,0697037,PL FILED,11/13/2013,"(37.78573381010, -122.42560544300)",N
179,63,63,8,8,1436 & 1498 POLK ST/ 1567 CALIFORNIA ST,0645014,PL APPROVED,10/16/2015,"(37.79026564900, -122.42029936200)",N
191,6,2,0,0,1449 SOUTH VAN NESS AV,6526030,PL FILED,03/24/2016,"Y\n(37.74999183690, -122.41568987700)",N
201,4,2,0,0,146 JASPER PL,0103021,PL FILED,06/24/2013,"(37.80125558020, -122.40879053700)",N
205,45,45,0,0,1463 STEVENSON ST,3532013,PL FILED,06/28/2016,"Y\n(37.76845891530, -122.42109368400)",N
247,31,31,4,4,1601 - 1635 OCEAN AV,6935001,PL FILED,12/11/2013,"(37.72429779120, -122.45937730800)",N
248,584,584,107,107,1601 - 1637 MARKET ST / 53 COLTON ST,3505001,PL FILED,07/10/2015,"Y\n(37.77389146450, -122.42002992900)",N
275,36,36,0,0,1726 - 1730 MISSION ST,3532005,PL FILED,07/14/2015,"Y\n(37.76935930260, -122.42039942900)",N
279,9,9,0,0,1735 - 1751 FULTON ST,1186009J,PL FILED,03/03/2016,"(37.77564545630, -122.44544299200)",N
281,381,381,0,0,1144 - 1150 HARRISON ST,3755023,PL FILED,12/02/2016,"(37.77498432110, -122.40784088700)",N
293,7,2,0,0,1320 CALIFORNIA ST,0248010,PL FILED,02/14/2017,"(37.79136175480, -122.41622107600)",N
301,9,3,0,0,138 - 140 CLINTON PARK,3533042,PL FILED,02/28/2017,"Y\n(37.76936047760, -122.42323300500)",N
309,17,2,0,0,140 DUBOCE AV,3502024,PL FILED,09/11/2014,"Y\n(37.77001322180, -122.42349678000)",N
320,2,1,0,0,1513 - 1517 CHURCH ST,6593022,PL FILED,06/28/2012,"(37.74657934230, -122.42665849600)",N
322,157,157,19,19,1515 SOUTH VAN NESS AV,6571001,PL APPROVED,08/11/2016,"Y\n(37.74902745460, -122.41499508600)",N
327,15,15,0,0,1525 PINE ST,0667020,PL FILED,05/09/2016,"(37.78932107070, -122.42082638900)",N
333,460,374,55,55,1530 - 1585 05TH AV,2636001,PL FILED,10/22/2015,"(37.75936797800, -122.46064763000)",N
364,27,27,0,0,2140 - 2144 MARKET ST,3542008,PL FILED,06/23/2015,"Y\n(37.76714496130, -122.42993484000)",N
367,2,1,0,0,215 - 217 DORE ST,3525035,PL APPROVED,08/01/2016,"(37.77192734600, -122.41021709900)",N
370,50,50,6,6,235 VALENCIA ST,3532019B,PL FILED,11/08/2016,"Y\n(37.76920135600, -122.42184234700)",N
375,60,60,0,0,2750 19TH ST,4023004A,PL FILED,11/17/2014,"Y\n(37.76079955540, -122.40971603300)",N
...,...,...,...,...,...,...,...,...,...,...
1300,4,3,0,0,95 NORDHOFF ST,6763001,PL FILED,10/10/2014,"(37.73425439980, -122.44133270200)",N
1304,103,103,0,0,950 TENNESSEE ST,4107001B,PL APPROVED,12/15/2016,"(37.75974769080, -122.38988211500)",N
1309,94,94,0,0,955 POST ST,0302021,PL FILED,12/09/2016,"(37.78683277220, -122.41763739500)",N
1314,182,182,0,0,975 BRYANT ST,3780044,PL FILED,10/29/2015,"(37.77287079190, -122.40565920800)",N
1326,9835,9579,3345,2833,CANDLESTICK POINT,4884025,PL APPROVED,04/10/2014,"(37.71938264020, -122.38493438200)",N
1327,328,328,0,0,CANDLESTICK POINT (BP FILED),4591C001,BP FILED,10/27/2015,"(37.72983493830, -122.37083909100)",NMULTIPLE
1330,1528,922,0,0,HOPE SF POTRERO,4167004,PL APPROVED,10/11/2016,"(37.75582048020, -122.39514414500)",N
1332,1700,915,1700,915,HOPE SF SUNNYDALE,6310001,PL APPROVED,07/09/2015,"(37.71308743010, -122.41899015200)",N
1333,634,634,0,0,HUNTERS POINT SHIPYARD,4591C001,PL APPROVED,10/09/2014,"(37.72983493830, -122.37083909100)",N
1334,223,223,0,0,HUNTERS POINT SHIPYARD (BP APPROVED),4591C001,BP APPROVED,09/21/2015,"(37.72983493830, -122.37083909100)",NMULTIPLE
1335,225,225,0,0,HUNTERS POINT SHIPYARD (BP FILED),4591C001,BP FILED,12/14/2015,"(37.72983493830, -122.37083909100)",NMULTIPLE
1336,134,134,0,0,HUNTERS POINT SHIPYARD (BP ISSUED),4591C001,BP ISSUED,09/21/2015,"(37.72983493830, -122.37083909100)",NMULTIPLE
1337,86,86,0,0,HUNTERS POINT SHIPYARD (UNDER CONSTRUCTION),4591C001,CONSTRUCTION,01/07/2016,"(37.72983493830, -122.37083909100)",NMULTIPLE
1338,107,107,106,106,HUNTERS VIEW,4624031,CONSTRUCTION,03/31/2017,"(37.73518447240, -122.38062987700)",NMULTIPLE
1340,1240,1240,0,0,INDIA BASIN,4644002A,PL FILED,12/09/2014,"(37.73018740910, -122.37203675100)",N
1352,26,26,0,0,PARCEL T - OCTAVIA BLVD,0853022,PL FILED,02/18/2015,"Y\n(37.77365831880, -122.42369923100)",N
1353,7887,4666,284,284,PARKMERCED,7308001,PL APPROVED,02/10/2011,"(37.72050478100, -122.48387501000)",NMULTIPLE
1354,1013,1013,0,0,PARKMERCED,7308001,BP FILED,11/23/2016,"(37.72050478100, -122.48387501000)",NMULTIPLE
1355,1500,1500,0,0,PIER 48 / SEAWALL LOT 337,9900048,PL FILED,04/23/2013,"(37.77570376350, -122.38613510900)",N
1356,1100,1100,0,0,PIER 70,4110008A,PL FILED,02/10/2015,"(37.75856908450, -122.38688099200)",N
1358,1679,1679,168,168,SCHLAGE LOCK,5087003,PL APPROVED,07/22/2014,"(37.71165296750, -122.40222246200)",N
1359,182,182,182,182,SEAWALL LOT 322-1,0140007,PL FILED,08/09/2016,"(37.79926012600, -122.39961794800)",N
1366,175,175,0,0,TRANSBAY PARCEL F,3721016,PL FILED,02/14/2017,"Y\n(37.78781108810, -122.39736294700)",N
1368,8619,7800,2050,1800,TREASURE ISLAND DEVELOPMENT AREA,1939001,PL APPROVED,03/15/2011,"(37.82428377200, -122.37095149600)",N
1378,855,855,0,0,10 SOUTH VAN NESS AV,3506004,PL FILED,04/11/2016,"Y\n(37.77425927670, -122.41948598900)",N
1398,186,186,0,0,1028 MARKET ST,0350002,PL APPROVED,01/26/2017,"(37.78188348190, -122.41132333400)",N
1403,9,9,0,0,1033 POLK ST,0694003,PL FILED,06/17/2015,"(37.78643416270, -122.42006518100)",N
1409,46,42,0,0,1052 - 1060 FOLSOM ST & 190 - 194 RUSS ST,3731021,PL FILED,06/23/2016,"(37.77768515020, -122.40709824500)",N
1426,8,8,0,0,1082 HOWARD ST,3726028,PL FILED,01/21/2016,"(37.77848795520, -122.40915060700)",N
1431,2,1,0,0,11 GLADYS ST,5710027,PL FILED,04/15/2015,"(37.73999669550, -122.42230731900)",N

# Fixing records without Permit ID
Correcting records without Permit ID

In [8]:
def fix_missing(permitId, units, netUnits, affUnits, netAffUnits, addr, apn):
    for i in range(count):
        if len(missing[i][missing[i]['APN'].isin(apn)]) > 0:
            data[i].loc[permitId] = [units, netUnits, affUnits, netAffUnits, addr, apn[0]]
        missing[i] = missing[i][~missing[i]['APN'].isin(apn)]
        
fix_missing("N_CUSTOM_JAMESTOWN", 132, 14, 0, 0, '833-881 Jamestown', ['4991277'])
fix_missing("N_CUSTOM_BROTHERHOOD", 196, 196, 0, 0, '800 BROTHERHOOD WAY', ['7331003', '7331005'])
fix_missing("N_CUSTOM_SHIPYARD", 229, 229, 0, 0, 'HUNTERS POINT SHIPYARD, PHASE I', ['4591C001', '4624031'])

hasMissing = False
for i in range(count):
    if (len(missing[i]) > 0):
        print()
        print("Records without Permit ID at {}".format(labels[i]))
        display(missing[i])
        hasMissing = True
if not hasMissing:
    print("No missing present")

ValueError: cannot set a row with mismatched columns

# Searching for incorrect unit values
Searching projects with unit counts varying from quarter to quarter and projects with net units exceeding total units.

In [ ]:
def find_incorrect(column):
    incorrect = {}
    for i in range(count-1):
        X = data[i]
        for j in range(i+1, count):
            X2 = data[j]
        
            X = X[X.index.isin(X2.index)].sort_index()
            X2 = X2[X2.index.isin(X.index)].sort_index()
            Y = X[X[column] != X2[column]]
            Y2 = X2[X[column] != X2[column]]
            if len(Y)>0:
                for index, row in Y.iterrows():
                    a = int(Y.loc[index][column])
                    b = int(Y2.loc[index][column])
                    if index not in incorrect:
                        incorrect[index] = { 'min': min(a, b), 'max': max(a,b)}
                    else:
                        incorrect[index] = { 'min': min(incorrect[index]['min'], a, b), 'max': max(incorrect[index]['max'], a, b)}
    return incorrect


incorrect = find_incorrect('UNITS')
print("Unit number fluctuation")
display(incorrect)

incorrectNet = find_incorrect('NET_UNITS')
print("Net Unit number fluctuation")
display(incorrectNet)

In [ ]:
def fix_units(permitId, units, column):
    for i in range(count):
        if permitId in data[i].index:
            d = data[i].loc[permitId]
            d[column] = units
            data[i].loc[permitId] = d

for k in incorrect:
    fix_units(k, incorrect[k]['max'], 'UNITS')
for k in incorrectNet:
    fix_units(k, incorrectNet[k]['max'], 'NET_UNITS')    
    
# 201 Folsom
fix_units('N201207124717', 656, 'UNITS')
fix_units('N201207124717', 656, 'NET_UNITS')

# Detection of completed buildings, p.1
Identifying completed projects as the ones that were in construction in a given quarter and are removed from the pipeline in the following quarter.

In [9]:
def buildStats(data):
    buildings = list(map(lambda x: len(x), completed))
    units = list(map(lambda x: x['UNITS'].values.sum(), completed))
    netUnits = list(map(lambda x: x['NET_UNITS'].values.sum(), completed))
    aff = list(map(lambda x: x['AFF_UNITS'].values.sum(), completed[4:]))
    netAff = list(map(lambda x: x['NET_AFF_UNITS'].values.sum(), completed[4:]))
    return { "buildings": buildings, "units": units, "netUnits": netUnits, "aff": aff, "netAff": netAff }

def printStats(stats):
    print("Buildings: {}".format(stats["buildings"]))
    print("Net Units: {}".format(stats["netUnits"]))
    print("Total Units: {}".format(sum(stats["netUnits"])))
    print("Net Affordable Units: {}".format(stats["netAff"]))
    print("Total Affordable Units: {}".format(sum(stats["netAff"])))

def contains(data, key):
    for i in range(len(data)):
        if key in data[i].index:
            return True
    return False

In [10]:
completed = []
for i in range(len(data)-1):
    X = data[i]
    X2 = data[i+1]
    X = X[~X.index.isin(X2.index)]
    completed.append(X)

stats = buildStats(completed)
printStats(stats)

Buildings: [28, 37, 32, 112, 37, 43, 29, 40, 110, 103, 45, 107, 87]
Net Units: [1889, 628, 736, 2981, 909, 1114, 615, 911, 1873, 1418, 964, 3262, 1161]
Total Units: 18461
Net Affordable Units: [161, 10, 34, 167, 126, 101, 175, 116, 75]
Total Affordable Units: 965

# Detection of completed buildings, p.2
Correcting for projects that re-appear in the pipeline after being removed.

In [59]:
completed = []
for i in range(len(data)-1):
    X = data[i]
    for j in range(i+1,len(data)):
        X2 = data[j]
        X = X[~X.index.isin(X2.index)]
    completed.append(X)

stats = buildStats(completed)
printStats(stats)

Buildings: [27, 36, 32, 75, 31, 34, 28, 39, 110, 103, 44, 104, 87]
Net Units: [1879, 627, 736, 2006, 744, 578, 855, 931, 2118, 1819, 1171, 3767, 1247]
Total Units: 18478
Net Affordable Units: [1, 10, 34, 167, 126, 101, 175, 23, 75]
Total Affordable Units: 712

# Percent of units in top 10 projects for each quartal
Here we print the top ten projects (by net new units) for each quarter and compare their contribution to the total net number of units completed in the same period. As we see below, in a typical quarter the top ten projects account for 90%+ of citywide housing production.

In [60]:
for i in range(len(labels)-1):
    topUnits = completed[i].sort_values('NET_UNITS', ascending=False).head(10)['NET_UNITS'].values.sum()
    units = completed[i]['NET_UNITS'].values.sum()
    print(labels[i+1])
    print(topUnits/units)

2014'Q1
0.973922299095
2014'Q2
0.912280701754
2014'Q3
0.953804347826
2014'Q4
0.847956131605
2015'Q1
0.961021505376
2015'Q2
0.956747404844
2015'Q3
0.983625730994
2015'Q4
0.924812030075
2016'Q1
0.847025495751
2016'Q2
0.911489829577
2016'Q3
0.949615713066
2016'Q4
0.701088399257
2017'Q1
0.850040096231

# Group Stats by Year

In [61]:
for i in range(3):
    yearCount = int(sum(stats['netUnits'][i*4:i*4+4]))
    print("Year {}:      {}".format(2014 + i, yearCount))
print("Year 2017 (Q1): {}".format(completed[len(completed) - 1]['NET_UNITS'].sum()))

Year 2014:      5248
Year 2015:      3108
Year 2016:      8875
Year 2017 (Q1): 1247

# Result Table (top 10)

In [62]:
for i in range(len(labels)-1):
    print(labels[i+1])
    display(completed[i].sort_values('NET_UNITS', ascending=False).head(10))

2014'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N200607207084,754,754,0,0,1401 Market St,3507041,CONSTRUCTION,2012-02-23
N201104224606,315,315,0,0,185 Channel St,8711023,CONSTRUCTION,2013-12-13
N201207054130,273,273,0,0,1155 04th St,8713001,CONSTRUCTION,2013-12-23
N201203135987,172,172,0,0,1200 04th St,8711017,BP ISSUED,2012-03-26
N201012217106,115,115,0,0,1960-1998 Market St,872005,CONSTRUCTION,2013-12-19
N200506246051,88,88,0,0,333 Fremont St,3747019,CONSTRUCTION,2013-12-12
N200912223711,52,52,0,0,63 West Point Rd,4624004,CONSTRUCTION,2013-04-09
N201109074027,24,24,0,0,1600 Market St,854001,CONSTRUCTION,2013-12-30
N200701051074,19,19,0,0,246 Ritch St,3776092,CONSTRUCTION,2013-10-23
N200607176702,18,18,0,0,1801 Mission St,3548039,BP Filed,2006-07-17

2014'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201106017202,182,182,0,0,260 05th St,3732008,CONSTRUCTION,2014-03-31
N200210249843,134,134,0,0,555 Market St,3708058,PL APPROVED,2002-12-05
N201111038205,40,40,0,0,1501 15th St,3553054,CONSTRUCTION,2014-02-25
N201110146841,38,38,0,0,1645-1661 Pacific Av,595013,CONSTRUCTION,2014-03-24
N201207164905,36,36,0,0,345 06th St,3753081,BP Filed,2012-07-16
N201012227225,35,35,0,0,495 Cambridge St,5992A060,BP Filed,2010-12-22
N200608290880,35,35,0,0,1080 Sutter St,279011,CONSTRUCTION,2014-01-14
N200602104391,29,29,0,0,793 South Van Ness Av,3591024,PL Filed,2012-08-14
N201006295585,23,23,0,0,42 Harriet St,3731101,PL Approved,2010-12-20
N201202154236,20,20,0,0,1717 17th St,3980007,CONSTRUCTION,2014-03-28

2014'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201012036075,150,150,0,0,1000 Fourth Street (block 13 East),8711014,CONSTRUCTION,2014-05-09
N201111179162,106,106,0,0,740 Illinois St And 2121 Third St,4045002,CONSTRUCTION,2014-05-23
N200712211199,100,100,0,0,973 Market St,3704069,CONSTRUCTION,2008-08-14
N201012156753,90,90,0,0,101 Golden Gate Av,349001,CONSTRUCTION,2014-06-30
N201207205377,88,88,0,0,2175 Market St,3543011,CONSTRUCTION,2014-06-18
N200212244171,81,71,0,0,1301 Indiana St,4228158,CONSTRUCTION,2014-06-02
N200810063512,55,55,0,0,474 Natoma Street,3725101,CONSTRUCTION,2013-11-25
N201304265571,19,19,0,0,1816 Eddy St,1127064,CONSTRUCTION,2014-02-07
N201208248160,12,12,0,0,2401 16th St,3965001,CONSTRUCTION,2014-06-30
N200706204573,11,11,0,0,3418 26th St,6529012,CONSTRUCTION,2013-07-08

2014'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N200412211855,312,312,0,0,425 First Street,3765015,CONSTRUCTION,2014-06-09
N201106017208,282,282,0,0,900 Folsom St,3732009,CONSTRUCTION,2014-08-08
N201108233049,273,273,0,0,55 9th St,3701064,CONSTRUCTION,2013-12-09
N201203135986,188,188,0,0,701 Long Bridge St,8711019,BP ISSUED,2012-03-26
N200509284149,188,188,0,0,5800 03rd St,5431A043,PL APPROVED,2012-10-25
N9924080S,132,132,0,0,833-881 Jamestown,4991277,CONSTRUCTION,2007-09-17
N201301168124,114,114,0,0,2558 Mission St,3616007,CONSTRUCTION,2014-09-11
N201105166063,75,75,0,0,235 Broadway,165021,CONSTRUCTION,2014-09-19
N201203015201,71,71,0,0,50 Phelan Av,3180001,CONSTRUCTION,2014-09-05
N200607126309,66,66,0,0,48 Tehama St,3736085,BP Filed,2006-07-12

2015'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201208026344,399,399,0,0,100 VAN NESS AV,814020,CONSTRUCTION,2015-03-30
N201203196326,182,182,0,0,240 05TH ST,3732150,BP ISSUED,2012-08-27
N201205180774,37,37,0,0,25 DOLORES ST,3534069,CONSTRUCTION,2015-01-09
N200810023278,22,22,0,0,2210 MARKET ST,3560001,BP ISSUED,2012-03-14
N201007297765,21,21,0,0,2353 LOMBARD ST,512025,BP FILED,2010-07-29
N200408121427,18,18,0,0,899 VALENCIA ST,3596113,CONSTRUCTION,2015-03-03
N200311180506,13,13,0,0,200 DOLORES ST,3557062,BP FILED,2008-08-19
N201310078679,9,9,1,1,33 NORFOLK ST,3521053A,PL FILED,2014-04-17
N9902819,8,8,0,0,1179 TENNESSEE ST,4172053,CONSTRUCTION,2014-12-18
N200603025880,6,6,0,0,782-786 ANDOVER ST,5825007,CONSTRUCTION,2013-11-08

2015'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201306280802,220,220,0,0,250 4TH ST,3733008,BP ISSUED,2014-09-12
N201301319232,160,160,10,10,1321 Mission Street,3509043,CONSTRUCTION,2015-03-31
N201306280783,132,132,0,0,144 KING ST,3794024,CONSTRUCTION,2015-06-05
N201410017815,155,17,0,0,33 POWELL ST,330004,CONSTRUCTION,2015-05-28
N200608290916,8,8,0,0,382 RANDOLPH ST,7088051,BP APPROVED,2011-11-28
N201303051501,6,4,0,0,2500 CLEMENT ST,1407017,BP FILED,2013-03-05
N201302210648,3,3,0,0,39 SAN CARLOS ST,3576018,CONSTRUCTION,2015-03-05
N201305026020,3,3,0,0,1100 POTRERO AV,4211001,BP FILED,2013-05-02
N201312043354,24,3,0,0,885 FRANKLIN ST,744020,BP FILED,2013-12-04
N200612139805,3,3,0,0,4411 CABRILLO ST,1688001A,BP FILED,2006-12-13

2015'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201009140800,320,320,0,0,45 LANSING ST,3749059,CONSTRUCTION,2015-07-14
N201209119428,210,210,0,0,800 Brotherhood Way,7331005,CONSTRUCTION,2012-09-11
N200810315586,156,156,18,18,1415 MISSION ST,3510001,CONSTRUCTION,2015-07-09
N201010143017,67,67,9,9,527 STEVENSON ST,3703012,CONSTRUCTION,2015-07-23
N200907223197,63,63,7,7,101 DONAHUE ST,4591C042,CONSTRUCTION,2015-07-23
N201303122049,15,15,0,0,248 - 252 09TH ST,3518006,CONSTRUCTION,2015-02-09
N200809091137,4,4,0,0,285 OCEAN AV,6951021,PL APPROVED,2009-11-18
N201301258793,3,2,0,0,748 TREAT AV,3612055,CONSTRUCTION,2015-03-26
N200312243005,2,2,0,0,395 ATHENS ST,6022014,CONSTRUCTION,2014-06-11
N201307313252,3,2,0,0,1681 Fulton St,1185026,CONSTRUCTION,2015-04-22

2015'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201304023626,409,409,0,0,280 BEALE ST,3738004,CONSTRUCTION,2015-09-24
N201212216752,190,190,167,167,1400 MISSION ST,3507039,CONSTRUCTION,2015-08-04
N200903134091,113,113,0,0,429 BEALE ST,3767305,PL APPROVED,2009-05-14
N201412163796,47,47,0,0,1 EARL ST,4591D131,BP ISSUED,2015-09-21
N201509217557,32,32,0,0,400 GROVE ST,0793103,BP ISSUED,2015-10-14
N201501145720,21,21,0,0,47 KIRKWOOD AV,4591C143,BP FILED,2015-01-14
N201412113580,18,18,0,0,89 KIRKWOOD AV,4591C165,BP FILED,2014-12-11
N201501145724,11,11,0,0,576 HUDSON AV,4591C032,BP FILED,2015-01-14
N201501145725,10,10,0,0,536 HUDSON AV,4591C020,BP FILED,2015-01-14
N201105256770,10,10,0,0,140 09TH ST,3509005,CONSTRUCTION,2015-01-29

2016'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N200605161774,452,452,0,0,399 FREMONT ST,3747320,CONSTRUCTION,2016-01-07
N201211073775,271,271,23,23,5800 03RD ST (BUILDING 4),5431A042,CONSTRUCTION,2016-01-14
N201212246822,263,263,0,0,718 LONG BRIDGE ST,8710007,CONSTRUCTION,2016-01-08
N201210051462,182,182,0,0,PARCEL P - MARKET OCTAVIA,0831023,CONSTRUCTION,2014-12-31
N201203276954,170,170,0,0,8 WASHINGTON ST,0201012,PL APPROVED,2012-08-30
N201307051190,162,162,19,19,101 POLK ST,0811002,CONSTRUCTION,2015-12-03
N200512281146,110,107,60,60,101 EXECUTIVE PARK BL,4991600,BP FILED,2010-10-25
N201301238536,78,78,0,0,620 SUTTER ST,0283004A,BP FILED,2013-01-23
N200705010136,74,74,7,7,72 TOWNSEND ST,3789003,CONSTRUCTION,2015-11-04
N200912223671,35,35,15,15,401 INNES AV,4591C095,CONSTRUCTION,2015-12-11

2016'Q2

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201207124717,656,656,0,0,201 FOLSOM ST,3746001,CONSTRUCTION,2016-03-17
N201112070234,393,393,94,94,1006 / 1050 16TH ST & 1380 07TH ST,3833002,CONSTRUCTION,2016-03-30
N201208036505,384,384,0,0,340 FREMONT ST,3748006,BP FILED,2012-08-03
N201209059005,116,116,0,0,55 LAGUNA ST (BLDG 1),0870003,CONSTRUCTION,2016-03-28
N201203055396,34,34,0,0,1650 BROADWAY *,0570011,CONSTRUCTION,2016-03-21
N201403170944,20,20,0,0,449 14TH ST,3546026,BP FILED,2014-03-17
N201504224344,81,17,0,0,555 POST ST,0306020,CONSTRUCTION,2016-02-29
N201407100913,15,15,2,2,5 SHIPLEY ST / 935 FOLSOM ST / 77 FALMOUTH ST,3753314,CONSTRUCTION,2016-01-27
N200408040564,12,12,5,5,1001 17TH ST & 140 PENNSYLVANIA AV,3987010,BP ISSUED,2014-08-06
N201507020526,11,11,0,0,1155 MARKET ST,3702054,CONSTRUCTION,2016-02-23

2016'Q3

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201209059006,450,450,23,23,55 LAGUNA ST (BLDG 2),0857001,CONSTRUCTION,2016-04-29
N201312184508,260,260,31,31,1634 - 1690 PINE ST,0647007,CONSTRUCTION,2016-07-01
N201207104447,98,98,98,98,1100 GOLDEN GATE AV,0757025,CONSTRUCTION,2016-07-01
N201306250465,84,84,11,11,480 POTRERO AV,3973002C,CONSTRUCTION,2016-01-13
N201207124725,80,80,0,0,LUMINA (PLAZA C),3746001,CONSTRUCTION,2016-07-01
N201306260573,41,41,5,5,450 HAYES ST,0808039,CONSTRUCTION,2016-06-29
N200912032516,35,35,5,5,1 FRANKLIN ST,0837003,CONSTRUCTION,2016-06-16
N201406138386,27,27,2,2,832 SUTTER ST,0281003,CONSTRUCTION,2016-01-21
N200507208144,25,25,0,0,468 CLEMENTINA ST,3732071,CONSTRUCTION,2015-10-01
N201312124038,12,12,0,0,520 09TH ST,3526005,CONSTRUCTION,2016-03-22

2016'Q4

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201306250394,560,560,0,0,1 HENRY ADAMS ST,3911001,CONSTRUCTION,2016-04-07
N201112070227,470,470,0,0,POTRERO1010 (BLDG 1 OF 2),3833001,CONSTRUCTION,2016-05-26
N201511092111,313,313,0,0,55 CHUMASERO DR,7330001,BP FILED,2015-11-09
N201510260810,299,299,0,0,1208 JUNIPERO SERRA BL,7326001,BP FILED,2015-10-26
N201510230640,248,248,0,0,455 SERRANO DR,7335001,BP FILED,2015-10-23
N201409116118,202,202,0,0,1095 MARKET ST,3703059,CONSTRUCTION,2016-07-28
N201609208248,174,174,0,0,5 THOMAS MELLON CIRCLE,4991075,BP FILED,2016-09-20
N201609208258,133,133,0,0,5 THOMAS MELLON CIRCLE,4991075,BP FILED,2016-09-20
N201312265046,129,129,0,0,360 BERRY ST,8704004,CONSTRUCTION,2016-08-22
N201609208257,113,113,0,0,5 THOMAS MELLON CIRCLE,4991075,BP FILED,2016-09-20

2017'Q1

,UNITS,NET_UNITS,AFF_UNITS,NET_AFF_UNITS,NAMEADDR,APN,BESTSTAT,BESTDATE
PERMIT_ID,,,,,,,,
N201307303137,416,416,62,62,350 08TH ST,3756003,CONSTRUCTION,2016-11-03
N201404042522,200,200,0,0,MISSION BAY BLOCK 7,8711031,CONSTRUCTION,2016-12-08
N201507060668,79,79,0,0,55 LAGUNA ST (SENIOR CENTER),0857002,BP ISSUED,2016-05-27
N200711077587,80,77,0,0,268 MADISON ST,5943008,CONSTRUCTION,2014-01-08
N201311222660,77,77,0,0,2101 & 2155 WEBSTER ST,0629037,CONSTRUCTION,2016-11-15
N200809252660,69,69,9,9,1450 FRANKLIN ST,0671006,CONSTRUCTION,2016-12-30
N201306270646,40,40,0,0,55 LAGUNA ST (AFF SENIOR HOUSING),0857002,CONSTRUCTION,2016-11-10
N201412294591,38,38,4,4,980 FOLSOM ST,3732028,BP FILED,2014-12-29
N200806164548,76,37,0,0,226 06TH ST,3731003,CONSTRUCTION,2014-10-20
N200412171712,27,27,0,0,1601 LARKIN ST,0620006,CONSTRUCTION,2016-09-20

# Exporting datasets

In [18]:
for i in range(count):
    fname = 'data_complete/PipelineCleaned_'+labels[i].replace('\'','_')+'.csv'
    data[i].to_csv(fname)
for i in range(count-1):
    fname = 'data_complete/PipelineCompleted_'+labels[i+1].replace('\'','_')+'.csv'
    completed[i].to_csv(fname)

# Total in pipeline per quartal

In [49]:
for i in range(count):
    print("{}: {}".format(labels[i], data[i]['NET_UNITS'].values.sum()))

2013'Q4: 6410
2014'Q1: 5106
2014'Q2: 6187
2014'Q3: 7246
2014'Q4: 7793
2015'Q1: 7709
2015'Q2: 8651
2015'Q3: 8990
2015'Q4: 8717
2016'Q1: 8291
2016'Q2: 7960
2016'Q3: 7173
2016'Q4: 6329
2017'Q1: 5680