In [37]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
pd.set_option('display.max_columns', 50)

In [55]:
converters = {'Permit Number': lambda x: 'N'+x.replace(',','')}
X = pd.read_csv("data_complete/Building_Permits.csv", sep=',', infer_datetime_format=True, converters=converters, parse_dates=['Permit Creation Date', 'Status Date'])
# X = X[(X['Permit Type'] == 1) | (X['Permit Type'] == 2)]
#display(X.head())
X['Street Number'] = X['Street Number'].fillna(0).astype('int64').apply(str)
X['NAMEADDR_'] = X['Street Name'] + ' ' + X['Street Suffix'] + ' ' + X['Street Number']
X = X[['Permit Number', 'Status Date', 'Status', 'Revised Cost', 'Permit Type Definition', "Existing Units", "Proposed Units", "NAMEADDR_"]]
X = X.rename(columns = {"Permit Number": "PERMIT_ID", 
                        "Status Date": "PERMIT_STATUS_DATE", 
                        'Revised Cost': "COST",  
                        'Status': 'PERMIT_STATUS', 
                        "Permit Type Definition": "PERMIT_TYPE", 
                        "Existing Units": "UNITS_BEFORE_", 
                        "Proposed Units": "UNITS_"})
X['UNITS_'] = X['UNITS_'].fillna(0)
X['UNITS_BEFORE_'] = X['UNITS_BEFORE_'].fillna(0)
X["NET_UNITS_"] = X["UNITS_"] - X["UNITS_BEFORE_"]
X = X.set_index('PERMIT_ID').drop_duplicates()
#X.sort_values(['UNITS_'], ascending=False)
display(X.head())

,PERMIT_STATUS_DATE,PERMIT_STATUS,COST,PERMIT_TYPE,UNITS_BEFORE_,UNITS_,NAMEADDR_,NET_UNITS_
PERMIT_ID,,,,,,,,
N9521514,04/29/1996,complete,NaN,otc alterations permit,1.0,1.0,Burrows St 1633,0.0
N9115124,03/30/1992,expired,NaN,otc alterations permit,3.0,3.0,Sacramento St 1561,0.0
N9718729,11/26/1997,complete,NaN,otc alterations permit,1.0,1.0,Thrift St 290,0.0
N8209071,11/04/1982,cancelled,NaN,additions alterations or repairs,0.0,1.0,Page St 584,1.0
NM480067,04/15/2014,issued,267.24,otc alterations permit,0.0,0.0,Stevenson St 855,0.0

In [56]:
X.head()

,PERMIT_STATUS_DATE,PERMIT_STATUS,COST,PERMIT_TYPE,UNITS_BEFORE_,UNITS_,NAMEADDR_,NET_UNITS_
PERMIT_ID,,,,,,,,
N9521514,04/29/1996,complete,NaN,otc alterations permit,1.0,1.0,Burrows St 1633,0.0
N9115124,03/30/1992,expired,NaN,otc alterations permit,3.0,3.0,Sacramento St 1561,0.0
N9718729,11/26/1997,complete,NaN,otc alterations permit,1.0,1.0,Thrift St 290,0.0
N8209071,11/04/1982,cancelled,NaN,additions alterations or repairs,0.0,1.0,Page St 584,1.0
NM480067,04/15/2014,issued,267.24,otc alterations permit,0.0,0.0,Stevenson St 855,0.0

In [57]:
X.to_csv("data_complete/Building_Permits_Filtered.csv")

In [12]:
X.count()

PERMIT_DATE           731193
PERMIT_STATUS_DATE    731193
PERMIT_STATUS         731188
COST                  459725
dtype: int64