In [1]:
import pandas as pd
import numpy as np

In [2]:
permits = pd.read_csv('Building_Permits.csv', sep=',', parse_dates=['Permit Creation Date'], infer_datetime_format=True)

### Print Permit Type count

In [3]:
print(permits['Permit Type'].value_counts())

8    729669
3    253447
4     16860
2     12252
6      6438
7      3525
1      1973
5       743
Name: Permit Type, dtype: int64

In [4]:
nc = permits[permits['Permit Type'] == 1]
print("Total: {}".format(nc.shape[0]))
nc_valid = nc[nc['Estimated Cost'] > 0]
print("Total Valid: {}".format(nc_valid.shape[0]))
print(nc_valid['Estimated Cost'].values.sum())

Total: 1973
Total Valid: 1928
29796801012.0

In [5]:
print(type(nc_valid['Permit Creation Date'].values[0]))

<class 'numpy.datetime64'>

In [6]:
print(nc_valid.groupby(nc_valid['Permit Creation Date'].map(lambda x: x.year)).size())

Permit Creation Date
1977      2
1978      4
1979     21
1980     19
1981     83
1982     73
1983    111
1984     75
1985    152
1986     65
1987     47
1988     55
1989     41
1990     50
1991     49
1992     47
1993     22
1994     21
1995     42
1996     25
1997     35
1998     42
1999     43
2000     86
2001     57
2002     37
2003     20
2004     42
2005     52
2006     49
2007     31
2008     17
2009     13
2010     31
2011     29
2012     39
2013     54
2014     62
2015     64
2016     94
2017     27
dtype: int64

In [7]:
ncu = nc_valid[nc_valid['Proposed Units'] > 0]
# print(ncu['Proposed Units'])

print(ncu.groupby(ncu['Permit Creation Date'].map(lambda x: x.year))['Proposed Units'].sum())
print(ncu.groupby(ncu['Permit Creation Date'].map(lambda x: x.month <= 6)).size())

Permit Creation Date
1979      52.0
1980    1480.0
1981     396.0
1982     620.0
1983    1614.0
1984    2346.0
1985    1515.0
1986    1717.0
1987    1707.0
1988     978.0
1989     785.0
1990     763.0
1991    1113.0
1992     964.0
1993     125.0
1994       6.0
1995     382.0
1996    2139.0
1997    3472.0
1998    3716.0
1999     855.0
2000    3036.0
2001    4308.0
2002    2253.0
2003     951.0
2004    3621.0
2005    6197.0
2006    2858.0
2007    2664.0
2008     385.0
2009     614.0
2010    2150.0
2011    2949.0
2012    4225.0
2013    4564.0
2014    6779.0
2015    4711.0
2016    7378.0
2017    1653.0
Name: Proposed Units, dtype: float64
Permit Creation Date
False    426
True     348
dtype: int64

In [8]:
print(nc_valid['Proposed Use'].value_counts())

apartments              639
office                  268
warehouse               214
retail sales             90
prkng garage/public      62
prkng garage/private     56
tourist hotel/motel      43
storage shed             42
filling/service stn      23
1 family dwelling        18
auto repairs             17
school                   16
sewage plant             16
2 family dwelling        15
manufacturing            14
public assmbly other     14
recreation bldg          13
wholesale sales          11
parking lot              11
club                     11
power plant              10
food/beverage hndlng     10
car wash                 10
animal sale or care       8
misc group residns.       7
health studios & gym      6
theater                   6
phone xchnge/equip        5
sfpd or sffd station      5
automobile sales          5
                       ...
radio & tv stations       3
chemical processing       3
antenna                   3
church                    3
meat/produce marts        3
museum                    3
workshop residential      2
tower                     2
temple                    2
nursing home lte 6        2
swimming pool             2
garment shops             2
laundry/laundromat        2
muni carbarn              2
fence/retaining wall      1
storage tanks             1
moving & storage          1
hospital                  1
nursery(floral)           1
mortuary                  1
building materials        1
lending institution       1
vacant lot                1
jail                      1
ambulance service         1
dance hall                1
nursing home non amb      1
amusement center          1
paint store               1
convalescent home         1
Name: Proposed Use, Length: 68, dtype: int64

In [9]:
print(nc_valid['Status'].value_counts())

complete       918
expired        317
issued         209
cancelled      166
filed          156
withdrawn      122
approved        17
filing          10
reinstated       7
suspend          3
plancheck        2
disapproved      1
Name: Status, dtype: int64

In [10]:
# ncf = nc[nc['Street Name'] == 'Folsom']
# ncn = ncf#ncf[ncf['Street Number'] == 201]
# print(ncn[['Permit Number', 'Proposed Units', 'Street Number', 'Estimated Cost', 'Proposed Use', 'Status', 'Description']])
cols = ['Permit Number', 'Proposed Units', 'Street Name', 'Street Number', 'Estimated Cost', 'Proposed Use', 'Status', 'Description']
ncf = nc_valid[nc_valid['Permit Creation Date'] >= '01/01/2007'].sort_values('Proposed Units', ascending=False)

ncf[cols].head(30)

,Permit Number,Proposed Units,Street Name,Street Number,Estimated Cost,Proposed Use,Status,Description
152035,201209069080,550.0,08th,33,133333000.0,apartments,issued,erect 19 stories 6 basement with residential ...
1002214,201412234418,546.0,01st,245,175000000.0,apartments,issued,to erect 56 stories tower 2.5 basement 9 sto...
962117,201503110506,545.0,Folsom,500,167000000.0,apartments,issued,to erect 42 stories 6 basements 545 units re...
992858,201503110506,545.0,Folsom,510,167000000.0,apartments,issued,to erect 42 stories 6 basements 545 units re...
951219,201606200387,540.0,Mission,1500,400000000.0,apartments,filed,to erect 16 stories 2 basement office buildi...
971756,201511203265,501.0,Market,1169,163800000.0,apartments,issued,to erect 18 stories 6 basements 501 units re...
927712,201304023626,479.0,Beale,280,131088316.0,apartments,complete,to erect 32 stories 479 condo units with retail.
940179,201602089004,470.0,Market,950,114272000.0,tourist hotel/motel,approved,at block 0342 lot 001 & 014. erect 12-story ...
604466,200704098308,440.0,Mission,1188,68000000.0,apartments,complete,to erect a new 440 dwelling units 24 stories ...
746989,200704098308,440.0,Mission,1188,68000000.0,apartments,complete,to erect a new 440 dwelling units 24 stories ...
548843,200704098308,440.0,Mission,1188,68000000.0,apartments,complete,to erect a new 440 dwelling units 24 stories ...
848242,201309045886,434.0,Brannan,801,112000000.0,apartments,issued,to erect 6 stories no basement 434 dwelling ...
977634,201406138394,431.0,Van Ness,150,108000000.0,apartments,issued,erect 13 stories 431 dwelling units.
976723,201406138394,431.0,Hayes,101,108000000.0,apartments,issued,erect 13 stories 431 dwelling units.
992576,201406138394,431.0,Hayes,131,108000000.0,apartments,issued,erect 13 stories 431 dwelling units.
1001659,201406138394,431.0,Hayes,155,108000000.0,apartments,issued,erect 13 stories 431 dwelling units.
960264,201406138394,431.0,Hayes,125,108000000.0,apartments,issued,erect 13 stories 431 dwelling units.
475507,201012166843,418.0,Mission,1190,60000000.0,apartments,complete,erect 22 stories of 418 dwelling unit with com...
920030,201611283577,404.0,Otis,30,99200000.0,apartments,filed,to erect 27 stories 2 basement 404 residneti...
968023,201404304554,403.0,Tehama,41,60000000.0,apartments,reinstated,to erect 35 stories 3 basement 403 residenti...
942619,201112070234,393.0,16th,1006,55000000.0,apartments,complete,erect 6 story 393 units residential & commerci...
942883,201112070234,393.0,07th,1380,55000000.0,apartments,complete,erect 6 story 393 units residential & commerci...
943077,201112070234,393.0,16th,1050,55000000.0,apartments,complete,erect 6 story 393 units residential & commerci...
997676,201406259481,390.0,Folsom,160,150000000.0,apartments,issued,to erect 40 stories 2 basements 390 units re...
817692,201312174382,351.0,Mission,1979,82125960.0,apartments,filed,erect 10-story mixed-use new building.
737396,201208036505,348.0,Fremont,340,110000000.0,apartments,withdrawn,to erect 40 stories 3 basement 345 units of ...
984133,201406259383,326.0,Indiana,800,90000000.0,apartments,issued,to erect 5 stories 1 basement 326 dwelling u...
774289,201006305679,326.0,Harrison,333,61000000.0,apartments,complete,erect type 1 retail parking and residential...
87028,201009140800,320.0,Lansing,45,75000000.0,apartments,issued,to erect 39 stories 320 units residential con...
54508,201104224606,315.0,Channel,185,71000000.0,apartments,complete,to erect 8 stories 315 units residential ret...

In [12]:
permits[permits['Permit Number'] == "201408133775"]

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Use Codes,Use Code Description,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location
966824,201408133775,1,new construction,2014-08-13,8715,004,1000,NaN,03rd,St,...,24,apartments,NaN,NaN,1,constr type 1,6.0,Mission Bay,94158.0,"(37.7756658555004, -122.390220658788)"